<div class="timeline">
  <div class="timeline__months">
    <time datetime="2020-08" class="timeline__month">Aug. 2020</time>
    <time datetime="2020-09" class="timeline__month">Sep.</time>
    <time datetime="2020-10" class="timeline__month">Oct.</time>
    <time datetime="2020-11" class="timeline__month">Nov.</time>
    <time datetime="2020-12" class="timeline__month"><strong>Dec. 2020</strong></time>
  </div>
  <div class="timeline__dates">
    <time datetime="2020-08-17" class="timeline__date">17th</time>
    <time datetime="2020-08-26" class="timeline__date">26th</time>
    <time datetime="2020-09-13" class="timeline__date">13th</time>
    <time datetime="2020-09-25" class="timeline__date">25th</time>
    <time datetime="2020-10-04" class="timeline__date">4th</time>
    <time datetime="2020-10-26" class="timeline__date">26th</time>
    <time datetime="2020-11-02" class="timeline__date">2nd</time>
    <time datetime="2020-11-16" class="timeline__date">16th</time>
  </div>
  <div class="timeline__ranges" aria-hidden="true">
    <span class="timeline__range"></span>
    <span class="timeline__range"></span>
    <span class="timeline__range"></span>
    <span class="timeline__range"></span>
  </div>
  <div class="timeline__events">
    <time datetime="PD27" class="timeline__event">
      <h4>Applications</h4>
      <p>Aug. 17th - Sep. 13th</p>
    </time>

    <time datetime="2020-08-26" class="timeline__event">
      <h4>Zoom Intro Session</h4>
      <p>Aug. 26th</p>
    </time>

    <time datetime="PD10" class="timeline__event">
      <h4>Case Studies</h4>
      <p>Sep. 25th - Oct. 4th</p>
    </time>

    <time datetime="PD7" class="timeline__event">
      <h4>Interviews</h4>
      <p>Oct. 26th - Nov. 2nd</p>
    </time>

    <time datetime="2020-12-16" class="timeline__event">
      <h4>Follow-ups</h4>
      <p>Nov. 16th - Dec.</p>
    </time>

    <time datetime="2020-12" class="timeline__event">
      <h4>Offers</h4>
      <p>
        Early Dec. We don’t have an exact date for when we’ll send offers. 
        It will depend on previous phases.
      </p>
    </time>
  </div>
</div>