<header class="banner standard-restricted-width">
  <div class="banner__contents">
    <a href="/" class="banner__logo">
      <img src="/images/ideas42-venture-studio-logomark.svg" alt="The ideas42 Venture Studio logo" />
    </a> 
    
    <a href="/apply" class="btn banner__apply-btn">Apply</a>
  </div>
</header>