<footer class="contentinfo">

  {% if noApplyCta != true %}
  <div class="standard-restricted-width home-apply-cta">
    <div class="home-apply-cta__contents">
      <header class="content-block__intro">
        <h2>Interested?</h2>
        <p>
          We’ve partnered with Wells Fargo for our first cohort; The Venture 
          Studio for Shared Prosperity. During this cohort we’ll build companies 
          dedicated to improving financial health.
        </p>
      </header>
      <div class="home-apply-cta__action">
        <a href="/apply" class="btn home-apply-cta__btn">Apply</a>
        <p>
          Even if you’re not 100% sure yet, but you think this sounds like you, 
          we want to hear from you.
        </p>
      </div>
    </div>
  </div>
  {% endif %}
</footer>