.careers__card {
  margin-top: calc(var(--g-row) * 4);
  padding: var(--g-gutter-width);
  display: block;
}

.careers__card:hover,
.careers__card:focus {
  background-color: white;
  border-color: var(--color-accent-active);
}

.careers__job-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.careers__title {
  font-weight: bold;
  font-size: var(--font-size-6);
  border-bottom: 0;
}

.careers__type {
  margin: 0 0 var(--g-row) 0;
  font-size: var(--font-size-1);
  line-height: 2;
  float: right;
  color: var(--color-eggplant);
}

.careers__location {
  margin-bottom: 0;
  color: var(--color-eggplant);
  margin-top: var(--g-row);
}

.careers__job {
  margin: 0;
}

.careers__subheader {
  color: var(--color-barney);
  font-size: var(--font-size-2);
  padding: 0;
  margin: 0;
}

.careers__icon {
  height: 9rem;
  display: block;
  padding: calc(var(--g-row) * 4) 0 calc(var(--g-row) * 2);
}

.careers__empty {
  padding-top: calc(var(--g-row) * 4);
}
