html {
  /* font definitions */

  --font-base: "IBM Plex Sans", sans-serif;
  --font-size-base: 16px;
  --font-size-small: 0.85rem;
  --font-size-default: 1rem;
  --font-size-emphasized: 1.125rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;
  --font-size-hero: 3.5rem;

  /* color definitions */

  --color-blue-base: #002e62;
  --color-blue-bright: #09488f;

  --color-red-base: #d11142;
  --color-red-dark: #b20b36;
  --color-red-shadow: #7e0e0e;

  --color-gray-text: #222222;
  --color-gray-quiet: #666666;
  --color-gray-accent: #cccccc;
  --color-gray-bg: #f5f5f5;
}

/* Layout base */

body#celena {
  font-family: var(--font-base);
  color: var(--color-gray-text);
}

#celena main {
  padding: 0;
}

#celena .section {
  padding: 60px 0;
}

#celena footer {
  padding: 30px 0;
  border-top: 1px solid var(--color-gray-accent);
  text-align: center;
}

#celena footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#celena footer img {
  height: 50px;
  margin-left: 16px;
}

#celena .section.blue {
  background-color: var(--color-blue-base);
  color: white;
}

#celena .section.gray {
  background-color: var(--color-gray-bg);
}

#celena .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

#celena .columns-4 {
  display: grid;
  grid-template-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
}

#celena .columns-3 {
  display: grid;
  grid-template-columns: 1fr 30px 1fr 30px 1fr;
}

#celena .columns-2 {
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
}

#celena .columns-2 + .columns-2 {
  margin-top: 30px;
}

@media (max-width: 1000px) and (min-width: 700px) {
  #celena .columns-4 {
    grid-template-columns: 1fr 40px 1fr 0px;
  }
}

@media (max-width: 699px) {
  #celena .columns-4,
  #celena .columns-3,
  #celena .columns-2 {
    grid-template-columns: 1fr 0px;
  }
}

/* Buttons & Forms */

#celena .btn {
  border-radius: 300px;
  background-color: var(--color-red-base);
  border-bottom: 3px solid var(--color-red-shadow);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: var(--font-size-default);
  padding: 12px 32px;
}

#celena .btn:hover {
  background-color: var(--color-red-dark);
}

#celena .btn.btn-large {
  font-size: var(--font-size-medium);
  padding: 18px 48px;
}

/* Hero */

#celena .hero {
  background-color: var(--color-blue-base);
  color: white;
  padding: 100px 0;
  position: relative;
  z-index: 100;
}

#celena .hero:before {
  background-image: linear-gradient(
    90deg,
    var(--color-blue-base) 20%,
    transparent
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  z-index: -5;
}

#celena .hero:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background-size: cover;
  z-index: -10;
  background-position: 0 -100px;
  background-repeat: no-repeat;
}

#celena .hero.retirement:after {
  background-image: url("/images/celena/hero-retirement.jpg");
}

#celena .hero.employee-ownership:after {
  background-image: url("/images/celena/hero-employee-ownership.jpg");
}

#celena .hero.employee-ownership {
  text-align: right;
}

#celena .hero.employee-ownership:before {
  background-image: linear-gradient(
    -90deg,
    var(--color-blue-base) 20%,
    transparent
  );
}

#celena .hero.employee-ownership p {
  margin-left: auto;
}

#celena .hero.eo-admin:after {
  background-image: url("/images/celena/hero-eo-admin.jpg");
  background-position: 0 -150px;
}

#celena .hero.eo-admin {
  text-align: center;
  padding-top: 350px;
  padding-bottom: 60px;
}

#celena .hero.eo-admin p {
  margin-left: auto;
  margin-right: auto;
}

#celena .hero.eo-admin:before {
  background-image: linear-gradient(
    0deg,
    var(--color-blue-base) 30%,
    transparent
  );
}

@media (max-width: 1100px) {
  #celena .hero:after {
    background-position: 0 0;
  }

  #celena .hero.eo-admin:after {
    background-position: center -100px;
  }
}

#celena .hero h1 {
  font-size: var(--font-size-hero);
  margin: 0 0 30px;
}

#celena .hero p {
  font-size: var(--font-size-medium);
  max-width: 50%;
}

@media (max-width: 1000px) {
  #celena .hero p {
    max-width: 75%;
  }
}

@media (max-width: 699px) {
  #celena .hero p {
    max-width: 100%;
  }
}

@media (max-width: 830px) {
  #celena .hero:after {
    background-position: 75% -50px;
  }

  #celena .hero:before {
    background-image: linear-gradient(transparent, var(--color-blue-base) 60%);
  }

  #celena .hero {
    padding-top: 300px;
    padding-bottom: 60px;
  }

  #celena .hero .break {
    display: none;
  }

  #celena .hero.employee-ownership:after {
    background-position: 15% -50px;
  }

  #celena .hero.employee-ownership:before {
    background-image: linear-gradient(transparent, var(--color-blue-base) 60%);
  }
}

@media (max-width: 699px) {
  #celena .hero.eo-admin h1 {
    font-size: 2.5rem;
  }
}

/* Sections */

#celena h2 {
  font-size: var(--font-size-large);
  text-align: center;
  margin: 0 0 60px;
}

/* Icons */

#celena .icons {
  text-align: center;
}

#celena .icons h3 {
  color: var(--color-blue-bright);
  font-size: var(--font-size-medium);
  margin: 20px 0;
}

#celena .icons p {
  margin: 0;
}

#celena .icons .icon {
  height: 70px;
  width: 70px;
  padding: 30px;
  box-sizing: content-box;
  border: 3px solid var(--color-blue-bright);
  border-radius: 300px;
  overflow: visible;
  margin: 0 auto;
}

@media (max-width: 699px) {
  #celena .icons > div:not(.gap) {
    margin-bottom: 50px;
  }

  #celena .icons > div:not(.gap):last-child {
    margin-bottom: 0;
  }
}

/* Tabs */

#celena h2 .for {
  display: none;
}

#celena .tabs {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
}

#celena .tabs > li {
  display: inline-block;
  padding: 12px 0;
}

#celena .tabs > li > a {
  text-decoration: none;
  border: 0;
  color: white;
  margin: 0 4px;
  padding: 16px 40px;
  font-size: var(--font-size-medium);
  background-color: rgba(9, 72, 143, 0.3);
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  position: relative;
}

@media (max-width: 1000px) and (min-width: 700px) {
  #celena .tabs > li > a {
    font-size: var(--font-size-emphasized);
    padding: 16px 30px;
  }
}

@media (max-width: 699px) {
  #celena h2 .for {
    display: inline;
  }

  #celena .tabs {
    margin: 0 -20px 40px;
  }

  #celena .tabs > li > a > .for {
    display: none;
  }

  #celena .tabs > li > a {
    font-size: var(--font-size-default);
    padding: 16px;
    margin: 0 1px;
  }
}

#celena .tabs > li.active > a {
  background-color: var(--color-blue-bright);
  color: white;
}

#celena .tabs > li.active > a:after {
  background-color: white;
  height: 4px;
  content: "";
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
}

#celena .bullets-intro {
  font-size: var(--font-size-emphasized);
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

#celena .benefits {
  margin-bottom: 0;
  padding: 0;
}

#celena .benefits li {
  list-style-type: none;
  display: flex;
  margin: 20px 0;
}

#celena .benefits li:last-child {
  margin-bottom: 0;
}

#celena .benefits li:before {
  content: "";
  height: 25px;
  width: 25px;
  background-image: url("/images/celena/benefits-check.svg");
  margin-right: 10px;
  flex-shrink: 0;
}

#celena .tab-content > .tab-pane {
  display: none;
}

#celena .tab-content > .tab-pane.active {
  display: block;
}

@media (max-width: 699px) {
  #celena .benefits {
    margin-top: 0;
  }
}

/* How it works */

#celena .how-it-works h3 small {
  color: var(--color-red-base);
  display: block;
  margin-bottom: 12px;
  font-size: var(--font-size-large);
}

#celena .how-it-works h3 {
  font-size: var(--font-size-medium);
  margin-top: 0;
}

@media (max-width: 1000px) and (min-width: 700px) {
  #celena .how-it-works:nth-of-type(1),
  #celena .how-it-works:nth-of-type(2) {
    margin-bottom: 40px;
  }
}

@media (max-width: 699px) {
  #celena .how-it-works {
    margin-bottom: 40px;
  }

  #celena .how-it-works:last-child {
    margin-bottom: 0;
  }
}

#celena .section.eo-admin .how-it-works {
  background-color: var(--color-gray-bg);
  padding: 20px;
}

/* Form */

#celena label > span {
  display: block;
  font-weight: bold;
  color: var(--color-blue-base);
  margin-bottom: 4px;
}

#celena input {
  width: 100%;
  font-family: var(--font-base);
  border-radius: 3px;
  border: 2px solid var(--color-blue-bright);
}

#celena input:hover {
  border: 2px solid var(--color-blue-base);
}

#celena input:focus {
  border: 2px solid var(--color-red-base);
  outline: none;
}

#celena .form-footer {
  text-align: center;
  color: var(--color-gray-quiet);
  margin-top: 30px;
}

@media (max-width: 699px) {
  #celena input {
    margin-bottom: 30px;
  }

  #celena .columns-2 + .columns-2 {
    margin-top: 0;
  }
}
