.cohort__mark {
  display: block;
  margin: 0 auto calc(var(--g-row) * 2) auto;
  width: 4.25rem;
}

.cohort__hero {
  --top-max-rows: 5;
}

.cohort__hero .hero__body {
  margin-bottom: 0;
}

.hero--what-we-provide .hero__title {
  max-width: calc(var(--g-col-width) * 2.75 + calc(var(--g-gutter-width) * 2));
}

.cohort__nav-container {
  margin: 0 auto;
  max-width: var(--g-cols-4--fixed);
  position: relative;
}

.cohort__nav-container .cohort-nav {
  transform: initial;
}

.cohort__nav-container::before {
  --arrow-width: 10.1875rem;
  --arrow-offset: 1.2;
  background: transparent url("/images/graphic-arrow.svg") no-repeat center;
  content: "";
  display: block;
  height: 5.375rem;
  left: calc(100% - var(--arrow-width) * var(--arrow-offset));
  pointer-events: none;
  position: relative;
  transform: translateY(6px);
  width: var(--arrow-width);
}

.cohort__landing-intro {
  padding-bottom: calc(var(--g-row) * 3);
}

.cohort__landing-qa {
  align-self: flex-start;
  position: relative;
}

.cohort__landing-qa::before {
  background: transparent url("/images/cohort-qa-icon.svg") no-repeat center;
  content: "";
  display: block;
  height: 3.75rem;
  left: 0.8rem;
  position: absolute;
  top: -1.75rem;
  width: 4.875rem;
}

.qa__intro h2 {
  color: var(--color-accent-secondary);
  font-weight: 600;
}

.qa__intro p {
  margin-top: var(--g-row);
}

.qa__intro {
  background: transparent url("/images/cohort-qa-intro-tile.svg") repeat-x top
    left;
  padding: calc(var(--g-gutter-width) * 2);
  padding-bottom: 0;
  text-align: center;
}

.qa__note {
  border-top: 1px solid rgba(var(--color-not-quite-white-rgb), 0.8);
  padding: calc(var(--g-row) * 2.5) calc(var(--g-gutter-width) * 2);
  margin-bottom: 0;
}

.cohort__qa-sessions {
  list-style: none;
  padding: calc(var(--g-row) * 2) calc(var(--g-gutter-width) * 2.5);
}

.cohort__qa-sessions li {
  padding: 0.25rem 0;
}

.cohort__qa-sessions a {
  display: block;
  width: 100%;
}

.apply__timeline {
  margin-bottom: calc(var(--g-row) * 12);
  margin-top: calc(var(--g-row) * 6);
}

.apply-note__actions {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding: var(--g-row) 0;
}

.actions__btns {
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.actions__btns .btn {
  --padding-h: 0.75em;
  --font-size: var(--font-size-0);
}

.apply-note__actions p {
  margin: 0;
}

.actions__note {
  flex: 1 1;
  font-size: var(--font-size-0);
  line-height: 1.2;
  min-width: 15ch;
}

.provide__details-card {
  align-self: flex-start;
}

@media (min-width: 41.875em) {
  .cohort__nav-container::before {
    --arrow-offset: 1.9;
  }
}

@media (min-width: 91.875em) {
  .cohort__landing-qa {
    margin-left: 1.5rem;
  }
}
