.handbook__content h2:first-child {
  margin-top: 0;
}

.nav__contents {
  position: sticky;
  top: 8rem;
}

.handbook__nav ul {
  list-style: none;
  padding-left: 1rem;
  margin-top: 0;
}

.handbook__nav a {
  border: 0;
  color: var(--color-text-primary);
}

.handbook__nav a:hover,
.handbook__nav a:focus {
  color: var(--color-accent-active);
}
