.hero--home .hero__title {
  --max-size: var(--font-size-9);
  text-align: center;
}

.hero--home .hero__body {
  font-size: var(--font-size-6);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.home-model .content-block__intro,
.home-portfolio .content-block__intro {
  margin-left: auto;
}

.home-model {
  margin-top: -8rem;
  position: relative;
}

.home-model .content-block__intro p {
  max-width: var(--g-cols-3-dot-5--fixed);
}

.home-model::before {
  background: transparent url('/images/content-connector-line-straight.svg')
    no-repeat;
  background-position: top center;
  content: '';
  display: block;
  height: 21.5rem;
  margin-left: auto;
  max-width: var(--g-cols-4--fixed);
  width: 100%;
}

@media (min-width: 50em) {
  .home-model::before {
    background-image: url('/images/content-connector-line.svg');
    background-position: top left;
  }
}

@media (max-width: 800px) {
  .home-model h2 {
    text-align: center;
  }
}

.home-benefits,
.home-portfolio {
  margin-top: calc(var(--g-row) * 16);
}

.home-benefits__list {
  list-style: none;
  margin-top: calc(var(--g-row) * 6);
  padding-left: 0;
}

.home-benefits__list li + li {
  margin-top: calc(var(--g-row) * 4);
}

.home-benefits__list p {
  font-size: var(--font-size-3);
  line-height: 1.55;
  margin-top: 0.625rem;
  max-width: var(--g-cols-2--fixed);
}

.home-portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  padding-bottom: calc(var(--g-row) * 12);
}

.home-portfolio__list li {
  margin-top: calc(var(--g-row) * 4);
  min-width: 18.75rem;
  padding: calc(var(--g-gutter-width) / 2);
  text-align: center;
  width: 33.33%;
}

.home-portfolio__list p {
  font-size: var(--font-size-3);
  line-height: 1.55;
  padding: 0 calc(var(--g-gutter-width) / 2);
}

.home-portfolio__list a {
  display: block;
  margin: 0 auto;
  max-width: 250px;
}
