<header class="banner standard-restricted-width">
  <div class="banner__contents">
    <a href="/" class="banner__logo" aria-label="Go to ideas42 Venture Studio home">
      <img src="/images/ideas42-venture-studio-logomark.svg" alt="ideas42 Venture Studio logo" />
    </a>
    <nav class="banner__nav">
      <a href="/" class="banner__nav-item">Intro</a>
      <a href="/model" class="banner__nav-item">Our model</a>
      <a href="/about" class="banner__nav-item">About us</a>
      <a href="/" class="banner__nav-item">Portfolio</a>
      <a href="/apply" class="btn banner__apply-btn">Apply</a>
    </nav>
  </div>
</header>