<footer class="contentinfo">
  <div class="contentinfo__contents standard-restricted-width">

    <form class="newsletter-form g-max-2-half" action="#" method="post">
      <fieldset>
        <legend>
          Subscribe to our newsletter
        </legend>
        <p class="newsletter-info">
          We share brief updates about our process and progress. <strong>Never spam</strong>.
        </p>
        
        <div>
          <label for="newsletter-email">Email address</label>
          <div class="field--connected-btn">
            <input id="newsletter-email" type="email" name="email" 
              placeholder="myname@example.com" required />
            <button type="submit" class="btn">Subscribe</button>
          </div>
        </div>
      </fieldset>
    </form>

    <nav class="contentinfo__nav">
      <a href="/model">Our model</a>
      <a href="/about">About us</a>
      <a href="/careers">Careers</a>
      <a href="https://www.ideas42.org/" target="_blank" rel="noopener">ideas42</a>
    </nav>
  </div>
</footer>
