<meta charset="utf-8">
<meta name="theme-color" content="#e50053">
<link rel="manifest" href="/manifest.webmanifest">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="We Build Companies to Solve Massive Social Challenges">
<meta name="og:description" content="We Build Companies to Solve Massive Social Challenges">
<meta name="twitter:description" content="We Build Companies to Solve Massive Social Challenges">

<meta property="og:image" content="https://ideas42ventures.com/social-default.png">
<meta name="twitter:image:src" content="https://ideas42ventures.com/social-default.png">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:title" content="ideas42 Venture Studio">
<meta name="twitter:title" content="ideas42 Venture Studio">

<meta property="og:url" content="https://ideas42ventures.com">
<meta name="twitter:url" content="https://ideas42ventures.com">

<meta name="twitter:site" content="@ideas42">
<meta property="og:type" content="article">