<div class="apply-cta">
  <div class="apply-cta__contents standard-restricted-width">
    <header>
      <h2>Join our first cohort of entrepreneurs</h2>
      <p class="font-size-4">
        We’re accepting applications: <strong>Sep 30, 2020 - Oct 28, 2020</strong>
      </p>
      <p class="font-size-3 g-max-3 g-centered">
        We’ve partnered with Wells Fargo to launch our first cohort of 
        entrepreneurs at Ventures for Shared Prosperity. This cohort is focused 
        on improving the financial health and well-being of low and moderate 
        income people in America.
      </p>
      <a href="/ventures-for-shared-prosperity/" class="btn apply-cta__btn">
        Learn more
      </a>
    </header>
  </div>
</div>