<div class="apply-cta">
  <div class="apply-cta__contents standard-restricted-width">
    <header>
      <h2>Ventures for Shared Prosperity</h2>
      <p class="font-size-4">
        Status: <strong>Offers</strong>
      </p>
      <p class="font-size-3 g-max-3-half g-centered">
        We're launching our first cohort of entrepreneurs at Ventures for Shared Prosperity, 
        part of the <a class="fancy-link" href="https://sharedprosperity.ideas42.org/">Shared Prosperity Catalyst</a>. This cohort is focused 
        on improving the financial health and well-being of low and moderate 
        income people in America.
      </p>
      <a href="/ventures-for-shared-prosperity/" class="btn btn--outlined apply-cta__btn" aria-label="Navigate to the Ventures for Shared Prosperity page for more info">
        Follow along <span class="btn__arrow">{% include "../../images/graphic-arrow-btn.svg" %}</span>
      </a>
    </header>
  </div>
</div>
