<div class="card grid--max-2">
  <header class="card__intro">
    <p>
      <strong class="card__title">To apply follow these steps</strong> 
      If you have any questions or problems, check out our <a href="/faq">FAQ</a>, 
      or email us at <a href="mailto:help@ideas42ventures.com">help@ideas42ventures.com</a>.
    </p>
  </header>
  <div class="card__body">
    <ol>
      <li>
        <b>Download our application questionnaire as a</b>
        <div class="apply-note__actions">
          <p class="actions__btns">
            <a data-fathom-goal="NXWTMM9T" class="btn btn--outlined" href="https://ideas42.app.box.com/s/289cgbk0p5artmln9ybelf1rk9oq3awc" target="_blank" rel="noopener">Word Doc</a> 
            or 
            <a data-fathom-goal="4VGH0JKP" class="btn btn--outlined" href="https://bit.ly/33ylmwv" target="_blank" rel="noopener">Google Doc</a> 
          </p>
          <p class="actions__note">They’re the same, so use the format that works best for you</p>
        </div>
      </li>
      <li>
        <b>Complete the questionnaire and save it as a PDF</b>
      </li>
      <li>
        <b>Attach the questionnaire to our online application system at:</b>
        <a href="https://tinyurl.com/VSPentrepreneur" target="_blank" rel="noopener">tinyurl.com/VSPentrepreneur</a>
      </li>
    </ol>
  </div>
</div>
