<div>
  <div>Octogons shapes go here</div>
  <div>
    <p>When you’re ready to apply we need two things:</p>
    <div>
      <h5>1. A completed questionare</h5>
      <p>
        Follow the instructions this <a href="">Word Doc</a> or
        <a href="">Google Doc</a> or (both are the same, use the format that
        works best for you)
      </p>
      <h5>2.A completed application</h5>
      <p>
       Available at 
        <a href="ideas42.applytojob.com/apply/KsR4Qk11of">
       ideas42.applytojob.com/apply/KsR4Qk11of
        </a>
      </p>
    </div>
  </div>
</div>
