<header class="banner g-padded">
  <div class="banner__contents">
    <a href="/" class="banner__logo" aria-label="Go to ideas42 Venture Studio home">
      {% include "../../images/ideas42-venture-studio-logomark.svg" %}
    </a>
    <nav class="banner__nav">
      <a href="/ventures-for-shared-prosperity" class="banner__nav-item">
        <img src="/images/cohort-mark.svg" alt="" height="20" width="20"> Ventures for Shared Prosperity
      </a>
      <a href="/about" class="banner__nav-item">About us</a>
      <a href="/faq" class="banner__nav-item">FAQ</a>
    </nav>
  </div>
</header>
