<header class="banner g-padded">
  <div class="banner__contents">
    <a href="/" class="banner__logo" aria-label="Go to ideas42 Venture Studio home">
      {% include "../../images/ideas42ventures-logo-color.svg" %}
    </a>
    <nav class="banner__nav">
      <a href="/ventures-for-shared-prosperity" class="banner__nav-item">
        Ventures for Shared Prosperity
      </a>
      <a href="/about" class="banner__nav-item">About us</a>
      <a href="/faq" class="banner__nav-item">FAQ</a>
      <a href="/careers" class="banner__nav-item">Careers</a>
    </nav>
    <button class="banner__menu-button" onclick="openMobileMenu()" aria-label="Open Menu">{% include "../../images/menu-icon.svg" %}</button>
  </div>
</header>
