<div class="banner__mobile g-padded" id="banner__mobile" tabindex="-1">
  <div class="banner__mobile-header">
    <a href="/" class="banner__logo" aria-label="Go to ideas42 Venture Studio home">
      {% include '../../images/i42ventures-logo-monochrome-white.svg' %}
    </a>
    <button class="banner__menu-button" onclick="closeMobileMenu()" aria-label="Close Menu">{% include "../../images/close-menu-icon.svg" %}</button>
  </div>
  <nav class="banner__mobile-nav">
    <a href="/ventures-for-shared-prosperity" class="banner__nav-item banner__mobile-nav-item">
      Ventures for Shared Prosperity
    </a>
    <a href="/about" class="banner__nav-item banner__mobile-nav-item">About us</a>
    <a href="/faq" class="banner__nav-item banner__mobile-nav-item">FAQ</a>
    <a href="/careers" class="banner__nav-item banner__mobile-nav-item">Careers</a>
  </nav>
</div>
