<div class="section blue">
  <div class="container">
    <h2>Explore the Benefits of Employee Ownership<span class="for"> for the...</span></h2>
    <ul class="tabs">
			<li class="active"><a href="#tab-owner"><span class="for">For the </span>Owner</a></li>
			<li class=""><a href="#tab-company"><span class="for">For the </span>Company</a></li>
			<li class=""><a href="#tab-employees"><span class="for">For the </span>Employees</a></li>
		</ul>
    <div class="tab-content">
      <div id="tab-owner" class="tab-pane active">
        <p class="bullets-intro">With Employee Ownership you have...</p>
        <div class="columns-2">
          <div>
            <ul class="benefits">
              <li><span><strong>Flexibility</strong> in defining the terms of your exit, including a full or partial sale.</span></li>
              <li><span><strong>Liquidity and fair market value</strong> for your business.</span></li>
              <li><span><strong>Tax benefits</strong> for yourself and the company.</span></li>
            </ul>
          </div>
          <div class="gap"></div>
          <div>
            <ul class="benefits">
              <li><span><strong>Control</strong> of the transition.</span></li>
              <li><span><strong>Assurance</strong> that your employees will be retained and rewarded.</span></li>
              <li><span>Confidence that your legacy will be <strong>preserved</strong> and carried on by your employees.</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="tab-company" class="tab-pane">
        <p class="bullets-intro">With Employee Ownership, companies have...</p>
        <div class="columns-2">
          <div>
            <ul class="benefits">
              <li><span>Long term <strong>tax benefits</strong>.</span></li>
              <li><span><strong>Gains</strong> in performance, job retention and productivity.</span></li>
              <li><span><strong>Continuity</strong> and a smooth transition.</span></li>
            </ul>
          </div>
          <div class="gap"></div>
          <div>
            <ul class="benefits">
              <li><span><strong>Employee engagement</strong> and skin-in-the-game.</span></li>
              <li><span><strong>Retirement benefits</strong> for rank-and-file employees.</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="tab-employees" class="tab-pane">
        <p class="bullets-intro">With Employee Ownership, employees can have...</p>
        <div class="columns-2">
          <div>
            <ul class="benefits">
              <li><span><strong>Retirement benefits.</strong></span></li>
              <li><span><strong>Opportunities</strong> for profit sharing and wealth creation.</span></li>
              <li><span><strong>Equity</strong> in the company, a true rising tide that lifts all boats.</span></li>
            </ul>
          </div>
          <div class="gap"></div>
          <div>
            <ul class="benefits">
              <li><span><strong>A voice and a vote</strong> in key decisions of the company.</span></li>
              <li><span><strong>Job security</strong> and company stability.</span></li>
              <li><span><strong>A smooth transition</strong> and leadership succession plan.</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>