<div>
  <p>Join our first cohort of entrepreneurs</p>
  <p>
    We're accepting application: <time>Sept 30</time> -
    <time>Oct 28, 2020</time>
  </p>
  <p>
    We’ve partnered with Wells Fargo to launch our first cohort of entrepreneurs
    at Ventures for Shared Prosperity. This cohort is focused on improving the
    financial health and well-being of low and moderate income people in
    America.
  </p>
  <a href="/apply">
    Apply
  </a>
</div>
