<nav class="cohort-nav g-max-4" aria-label="Information about Ventures for Shared Prosperity cohort">
  <ul>
    <li class="cohort-nav__home-btn">
      <a href="/ventures-for-shared-prosperity">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 53 39">
          <title>Go back to the cohort landing page</title>
          <path fill="#E60053" d="M43 11c-.2 3.6-4 7.5-8 7.7-4.2.1-8.2-3.8-8.1-7.7.1-3.9 3-7.9 8-8 5-.1 8.2 4.4 8 8z" opacity=".8"/>
          <path fill="#4700D6" d="M33.8 35c0-.3 9.3-17.5 10.3-16.5s8.6 16.6 8.6 16.6-19 0-19-.2z" opacity=".7"/>
          <path fill="#F2F604" d="M36 24.5c-.2.7-7.6 13.4-8.2 13-.6-.2-12.8-7.4-12.8-7.4l7.6-12.5s13.7 6.2 13.5 7z" opacity=".8"/>
          <path class="arrow-back" fill="#171355" d="M6 14l-6 5.5L6 25V14z"/>
        </svg>
      </a>
    </li>
    <li class="cohort-nav__item">
      <a href="/ventures-for-shared-prosperity/focus-area">Focus area</a>
    </li>
    <li class="cohort-nav__item">
      <a href="/ventures-for-shared-prosperity/what-we-provide">What we provide</a>
    </li>
    <li class="cohort-nav__item">
      <a href="/ventures-for-shared-prosperity/apply">Apply to join</a>
    </li>
  </ul>
  <time datetime="2020-10-28">
    <span>Accepting applications until <strong>Oct 28, 2020</strong></span>
  </time>
</nav>
