{% if not noCohortCta %}
  <a data-fathom-goal="INHY8CAZ" class="banner__cta" href="/ventures-for-shared-prosperity/">
    <img src="/images/cohort-mark.svg" alt="" height="36" width="36"> 
    <span>Learn about our first cohort <strong>Ventures for Shared Prosperity</strong></span>
    <span class="btn__arrow">{% include "../../images/graphic-arrow-btn.svg" %}</span>
  </a>
{% endif %}