{% macro cohort_nav() %}
<nav class="cohort-nav g-max-4" aria-label="Information about Ventures for Shared Prosperity cohort">
  <ul>
    <li class="cohort-nav__item cohort-nav__home-btn">
      <a href="/ventures-for-shared-prosperity">
        <img class="cohort__mark" src="/images/cohort-mark.svg" 
          width="25" alt="Go back to the cohort landing page"> 
      </a>
    </li>
    <li class="cohort-nav__item">
      <a class="cohort-nav__home-link" href="/ventures-for-shared-prosperity">Home</a>
    </li>
    <li class="cohort-nav__item">
      <a href="/ventures-for-shared-prosperity/focus-area">Focus area</a>
    </li>
    <li class="cohort-nav__item">
      <a href="/ventures-for-shared-prosperity/what-we-provide">What we provide</a>
    </li>
    <li class="cohort-nav__item">
      <a href="/ventures-for-shared-prosperity/apply">Apply to join</a>
    </li>
  </ul>
  <div class="cohort-nav__status">
    <strong>Reviewing applications</strong>
  </div>
</nav>
{% endmacro %}