<footer class="contentinfo">
  <div class="contentinfo__contents standard-restricted-width">
    <form class="newsletter-form g-max-2" name="netlify-function-tests" action="/subscribed" 
      method="post" data-netlify="true" netlify-honeypot="bot-field" 
      id="newsletter-form">
      <fieldset>
        <legend>
          Get updates
        </legend>
        <p class="newsletter-info g-max-1-half">
          We share brief updates about our process and progress. <strong>Never spam</strong>.
        </p>
        
        <div>
          <label for="newsletter-email">Email address</label>
          <div class="field--connected-btn">
            <input id="newsletter-email" type="email" name="email" 
              placeholder="name@example.com" autocapitalize="off" required />
            <input type="hidden" name="tags" value="Web Sign up"/>
            <button type="submit" class="btn">Subscribe</button>
          </div>
          <p class="form-success hidden">
            Thanks for signing up
          </p>
        </div>
      </fieldset>

      <p class="hidden" hidden>
        <label>Don’t fill this out if you're human: <input name="bot-field"></label>
      </p>

      <script>
        const form = document.getElementById("newsletter-form");

        form.addEventListener("submit", (e) => {
          e.preventDefault();
          const url = form.getAttribute("action");
          const body = new URLSearchParams(new FormData(form)).toString();
          const success = form.querySelector(".form-success");

          fetch("/", {
            method: "post",
            body
          }).then((res) => {
            form.reset();
            success.classList.remove("hidden");
          })
        });
        
        try {
          [...document.querySelectorAll("a[data-fathom-goal]")].forEach(a => {
            a.addEventListener("click", (e) => {
              const goalId = e.target.getAttribute("data-fathom-goal");
              if (window.fathom) {
                window.fathom.trackGoal(goalId, 0);
              }
            })
          });
        } catch (err) {
          console.warning("Hit a JavaScript programming error trying to add Fathom goal tracking.");
        }
      </script>
    </form>

    <nav class="contentinfo__nav">
      <a href="/about">About us</a>
      <a href="/faq">FAQ</a>
      <a href="https://ideas42.org" target="_blank" rel="noopener">ideas42</a>
    </nav>
  </div>
</footer>
