<footer class="contentinfo">
  <div class="contentinfo__contents standard-restricted-width">
    <form class="newsletter-form g-max-2" name="newsletter" action="/api/submission-created" 
      method="post" data-netlify="true" netlify-honeypot="bot-field" 
      id="newsletter-form">
      <fieldset>
        <legend>
          Get updates
        </legend>
        <p class="newsletter-info g-max-1-half">
          We share brief updates about our process and progress. <strong>Never spam</strong>.
        </p>
        
        <div>
          <label for="newsletter-email">Email address</label>
          <div class="field--connected-btn">
            <input id="newsletter-email" type="email" name="email" 
              placeholder="name@example.com" autocapitalize="off" required />
            <button type="submit" class="btn">Subscribe</button>
          </div>
          <p class="form-success hidden">
            Thanks for signing up
          </p>
        </div>
      </fieldset>

      <p class="hidden" hidden>
        <label>Don’t fill this out if you're human: <input name="bot-field"></label>
      </p>

      <script>
        const form = document.getElementById("newsletter-form");

        form.addEventListener("submit", (e) => {
          e.preventDefault();
          const url = form.getAttribute("action");
          const body = new URLSearchParams(new FormData(form)).toString();
          const success = form.querySelector(".form-success");

          fetch(url, {
            method: "post",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded"
            },
            body
          }).then((res) => {
            if (res.status === 400) throw Error("The email you provided was invalid");
            form.reset();
            success.classList.remove("hidden");
          }).catch((err) => {
           //TODO: set the inner html of the sucess to be an error message if the email was invalid
          })
        });
      </script>
    </form>

    <nav class="contentinfo__nav">
      <a href="/about">About us</a>
      <a href="/faq">FAQ</a>
      <a href="https://ideas42.org" target="_blank" rel="noopener">ideas42</a>
    </nav>
  </div>
</footer>
