<footer class="contentinfo">
  <div class="contentinfo__contents standard-restricted-width">
    <form class="newsletter-form g-max-2" action="#" method="post">
      <fieldset>
        <legend>
          Get updates
        </legend>
        <p class="newsletter-info g-max-1-half">
          We share brief updates about our process and progress. <strong>Never spam</strong>.
        </p>
        
        <div>
          <label for="newsletter-email">Email address</label>
          <div class="field--connected-btn">
            <input id="newsletter-email" type="email" name="email" 
              placeholder="name@example.com" required />
            <button type="submit" class="btn">Subscribe</button>
          </div>
        </div>
      </fieldset>
    </form>

    <nav class="contentinfo__nav">
      <a href="/about">About us</a>
      <a href="/faq">FAQ</a>
      <a href="https://ideas42.com" target="_blank" rel="noopener">ideas42</a>
    </nav>
  </div>
</footer>
