<ul>
      <li>
        <a href="/ventures-for-shared-prosperity/apply">Apply to join</a>
      </li>
      <li>
        <a href="/ventures-for-shared-prosperity/focus-area">Focus area</a>
      </li>
      <li>
        <a href="/ventures-for-shared-prosperity/what-we-provide">What we provide</a>
      </li>
      <li>
        <p> Accepting applications until 
          <time datetime="2020-10-28">
            Oct 28, 2020
          </time>
        </p>
      </li>
    </ul>
