<figure class="timeline">
  <div class="timeline__contents">
    <div class="timeline__months">
      <time datetime="2020-09" class="timeline__month">Sep</time>
      <time datetime="2020-10" class="timeline__month">Oct</time>
      <time datetime="2020-11" class="timeline__month">Nov</time>
      <time datetime="2020-12" class="timeline__month">Dec</time>
      <time datetime="2021-01" class="timeline__month"><strong>Jan 2021</strong></time>
    </div>
    <div class="timeline__dates">
      <time datetime="2020-09-30" class="timeline__date">30th</time>
      <time datetime="2020-10-10" class="timeline__date date--session">10th</time>
      <time datetime="2020-10-15" class="timeline__date date--session">15th</time>
      <time datetime="2020-10-25" class="timeline__date">25th</time>

      <time datetime="2020-11-06" class="timeline__date">6th</time>
      <time datetime="2020-11-15" class="timeline__date">15th</time>

      <time datetime="2020-12-07" class="timeline__date">7th</time>
      <time datetime="2020-12-18" class="timeline__date">18th</time>

      <time datetime="2021-01-04" class="timeline__date">4th</time>
      <time datetime="2021-01-08" class="timeline__date">8th</time>

      <time datetime="2021-01-18" class="timeline__date"></time>
    </div>

    <div class="timeline__ranges" aria-hidden="true">
      <span class="timeline__range"></span>
      <span class="timeline__range"></span>
      <span class="timeline__range"></span>
      <span class="timeline__range"></span>
      <span class="timeline__marker"></span>
    </div>

    <ul class="timeline__events">
      <li class="timeline__event timeline__event--complete">
        <strong>Applications</strong>
        Sep 30 - Oct 25
      </li>

      <li class="timeline__event timeline__event--current">
        <strong><mark>Case Studies</mark></strong>
        Nov 6 - Nov 15
      </li>
    
      <li class="timeline__event">
        <strong>Interviews round 1</strong>
        Dec 7 - Dec 18
      </li>

      <li class="timeline__event">
        <strong>Interviews round 2</strong>
        Jan 4 - Jan 8
      </li>

      <li class="timeline__event">
        <strong>Offers</strong>
        Mid January. We don’t have an exact date for when we’ll send offers. It 
        will depend on the previous phases.
      </li>
    </ul>
  </div>
  <figcaption class="timeline__caption font-size-2 g-max-3">
    <p>
      We recorded two Q&A sessions where we shared more about our process, motivation, and what we provide.
    {% for session in qaSessions %}
      <a href="{% if session.past %}{{ session.videoUrl }}{% else %}{{ session.url }}{% endif %}" target="_blank" rel="noopener">
        Session {{ loop.index }}:
        <time datetime="{{ session.datetime }}">
          {% dateFormat session.datetime, "LLL d yyyy" %}
        </time>
      </a>&nbsp;
    {% endfor %}
    </p>
  </figcaption>
</figure>