---
title: Employee Ownership Administration Tools
---

{% extends "layouts/celena.njk" %}

{% block main %}

<div class="hero section eo-admin">
  <div class="container">
    <h1>Unlock the power of employee ownership for your small business</h1>
    <p>Learn how we make employee ownership easier for small businesses.</p>
    <a href="#contact-us" class="btn btn-primary btn-large">Get in Touch</a>
  </div>
</div>
<div class="section">
  <div class="container">
    <h2>Learn how you can...</h2>
    <div class="columns-3 icons">
      <div>
        <div class="icon"><img src="/images/celena/icon-coordinate.svg" /></div>
        <h3>Administer your employee ownership plan with ease</h3>
        <p>Our tools make it easier to manage employee ownership plans, simplifying compliance, data management, reportng and communications.</p>
      </div>
      <div class="gap"></div>
      <div>
        <div class="icon"><img src="/images/celena/icon-meeting.svg" /></div>
        <h3>Efficiently manage your Board of Directors</h3>
        <p>Our software makes reporting, voting and communications among your board members a breeze, so you all can focus on what really matters - growing the business.</p>
      </div>
      <div class="gap"></div>
      <div>
        <div class="icon"><img src="/images/celena/icon-sale.svg" /></div>
        <h3>Support employees turned leaders</h3>
        <p>We help employees-tuned-leaders and key staff to succeed with expert coaching and interim managerial support.</p>
      </div>
    </div>
  </div>
</div>
<div class="section blue">
  <div class="container">
    <h2>Everything you need to manage your business.</h2>
        <div class="columns-2">
          <div>
            <ul class="benefits">
              <li><span><strong>Employee engagement</strong> tools and content to help employees see the benefit of ownership.</span></li>
              <li><span><strong>Plan administration & compliance</strong> tools to simplify compliance and administration.</span></li>
              <li><span><strong>Annual valuation</strong> tools to support decision-making and ensure a positive valuation of your business.</span></li>
            </ul>
          </div>
          <div class="gap"></div>
          <div>
            <ul class="benefits">
              <li><span><strong>Board of Directors management</strong> to make reporting, voting and communication a breeze.</span></li>
              <li><span><strong>Interim management</strong> from our team to support yours in getting setup with employee ownership structures.</span></li>
              <li><span><strong>Employee to leadership development</strong> to support key employees in making the transition to leadership.</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section eo-admin">
  <div class="container">
    <h2>How it works</h2>
    <div class="columns-3">
      <div class="how-it-works">
        <h3><small>1</small>Enroll, start online below and our team will be in touch.</h3>
      </div>
      <div class="gap"></div>
      <div class="how-it-works">
        <h3><small>2</small>Onboarding, we support you in getting the most out of our system.</h3>
      </div>
      <div class="gap"></div>
      <div class="how-it-works">
        <h3><small>3</small>Manage employee ownership with ease!</h3>
      </div>
    </div>
  </div>
</div>
<div class="section gray" id="contact-us">
  {% include 'components/contact-form.njk' %}
</div>
<footer>
  <div class="container">
    <p>A business powered by</p><img src="/images/celena/i42ventures-logo.svg" alt="ideas42 Ventures Logo"/></p>
  </div>
</footer>
{% endblock %}
