html {
  /* color definitions */

  /**
   * Use sparingly for interactive elements. 
   */
  --color-electric-panther: #e50053;
  /**
   * Use sparingly as a non-interactive accent.
   */
  --color-barney: #4700d6;
  /**
   * Use rarely for non-interactive accent. Do not use for text on white.
   */
  --color-brite-bird: #ffdd33;
  --color-big-bird: #ffdd33;
  /**
   * Use as the color for all standard dark text on light background.
   */
  --color-eggplant: #1d0354;
  --color-eggplant-rgb: 29, 3, 84;
  /**
   * Use when you need white but not so bright.
   */
  --color-not-quite-white: #dee7fc;

  /**
   * We use this for the footer background and nothing else at the time of
   * this writing.
   */
  --color-needed-one-more: #313349;

  /* color general aliases */
  --color-accent-active: var(--color-electric-panther);
  --color-accent-secondary: var(--color-barney);
  --color-accent-tertiary: var(--color-big-bird);
  --color-text-primary: var(--color-eggplant);
  --color-text-primary-rgb: var(--color-eggplant-rgb);
  --color-text-light: var(--color-not-quite-white);

  /* This doesn't really fit in color, but we'll leave it here for now. */
  --shadow-card: 0px 6px 12px rgba(23, 93, 199, 0.15);
}
