html {
  /* color definitions */
  --color-ideas42-green: #8cba43;
  --color-electric-panther: #ff0660;
  --color-eggplant: #1d0354;
  --color-praise-be-purple: #8f00ff;

  /* color general aliases */
  --color-accent-active: var(--color-electric-panther);
  --color-accent-primary: var(--color-praise-be-purple);
  --color-text-primary: var(--color-eggplant);
}
