html {
  /* color definitions */
  --color-ideas42-green: #8cba43;
  --color-electric-panther: #e50053;
  --color-eggplant: #1d0354;
  --color-eggplant-rgb: 29, 3, 84;
  --color-not-quite-white: #f4f0fd;

  /* color general aliases */
  --color-accent-active: var(--color-electric-panther);
  --color-text-primary: var(--color-eggplant);
  --color-text-primary-rgb: var(--color-eggplant-rgb);
  --color-text-light: var(--color-not-quite-white);

  --gradient-accent: linear-gradient(91deg, #f3568f 40%, #c81ef2);
}
