html {
  --g-max-width: calc(1476 / 16 * 1rem);
  --g-col-width: calc(256 / 16 * 1rem);
  --g-gutter-width: calc(20 / 16 * 1rem);
  --g-row: 0.625rem;
  --g-column-template: repeat(auto-fill, minmax(var(--g-col-width), 1fr));

  --g-cols-1-dot-5--fixed: calc(
    var(--g-col-width) * 1.5 + var(--g-gutter-width)
  );
  --g-cols-2--fixed: calc(var(--g-col-width) * 2 + var(--g-gutter-width));
  --g-cols-2-dot-5--fixed: calc(
    var(--g-col-width) * 2.5 + calc(var(--g-gutter-width) * 2)
  );
  --g-cols-3--fixed: calc(
    var(--g-col-width) * 3 + calc(var(--g-gutter-width) * 2)
  );
  --g-cols-3-dot-5--fixed: calc(
    var(--g-col-width) * 3.5 + calc(var(--g-gutter-width) * 3)
  );
  --g-cols-4--fixed: calc(
    var(--g-col-width) * 4 + calc(var(--g-gutter-width) * 3)
  );
  --g-cols-4-dot-5--fixed: calc(
    var(--g-col-width) * 4.5 + calc(var(--g-gutter-width) * 4)
  );
}

/* 
  NOTE: We're slowly trying going to CSS grid over setting max widths and
  such. Will be a process to figure out what works best for us. 
 */
.grid {
  --g-template-columns: 1fr;
  display: grid;
  gap: var(--g-gutter-width);
  grid-template-columns: var(--g-template-columns);
}

@media (min-width: 56.25em) {
  .grid {
    --g-template-columns: 1fr 1fr;
  }
}

@media (min-width: 76.875em) {
  .grid {
    --g-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid--max-3 {
    grid-column: 1 / span var(--g-column-span, 2);
  }

  .grid--max-2 {
    grid-column-end: span 2;
  }
}

@media (min-width: 91.25em) {
  .grid {
    --g-template-columns: var(--g-column-template);
  }
}

@media (min-width: 91.875em) {
  .grid--max-3 {
    --g-column-span: 3;
  }
}

.g-right {
  margin-left: auto;
}

.g-centered {
  margin-left: auto;
  margin-right: auto;
}

.g-max-1-half {
  max-width: var(--g-cols-1-dot-5--fixed);
}

.g-max-2 {
  max-width: var(--g-cols-2--fixed);
}

.g-max-2-half {
  max-width: var(--g-cols-2-dot-5--fixed);
}

.g-max-3 {
  max-width: var(--g-cols-3--fixed);
}

.g-max-3-half {
  max-width: var(--g-cols-3-dot-5--fixed);
}

.g-max-4 {
  max-width: var(--g-cols-4--fixed);
}

.g-max-4-half {
  max-width: var(--g-cols-4-dot-5--fixed);
}

.g-padded,
.standard-restricted-width {
  --padding-h: var(--g-gutter-width);
  padding-left: var(--padding-h);
  padding-right: var(--padding-h);
}

.standard-restricted-width {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--g-max-width);
}

.g-section-vertical {
  --padding-t: calc(var(--g-row) * 10);
  --padding-b: calc(var(--g-row) * 10);
  padding-top: var(--padding-t);
  padding-bottom: var(--padding-b);
}

.g-section-vertical + .g-section-vertical {
  --padding-t: 0;
}

.two-col-text {
  column-count: 2;
  column-width: calc(var(--g-col-width) * 1.5 + var(--g-gutter-width));
  column-gap: calc(var(--g-gutter-width) * 2.25);
}

.two-col-text p:first-child {
  margin-top: 0;
}

.two-col-text + p {
  margin-top: 1.7em;
}

@media (min-width: 37.5em) {
  .g-padded,
  .standard-restricted-width {
    --padding-h: calc(var(--g-gutter-width) * 2.75);
  }
}
