@font-face {
  font-family: "Epilogue";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/css/fonts/epilogue.var.woff2") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/css/fonts/inter-roman.var.woff2?v=3.13") format("woff2");
}

html {
  --font-display: Epilogue, sans-serif;
  --font-body: "Inter var", helvetica, sans-serif;

  /* Using calc here to document the pixel value */
  --font-size-0: calc(14 / 16 * 1rem);
  --font-size-1: 1rem;
  --font-size-2: calc(18 / 16 * 1rem);
  --font-size-3: calc(20 / 16 * 1rem);
  --font-size-4: calc(22 / 16 * 1rem);
  --font-size-5: calc(24 / 16 * 1rem);
  --font-size-6: calc(30 / 16 * 1rem);
  --font-size-7: calc(42 / 16 * 1rem);
  --font-size-8: calc(60 / 16 * 1rem);
  --font-size-9: calc(86 / 16 * 1rem);
}

.font--body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

h1 {
  font-weight: 700;
}

.font--display,
h1,
h2 {
  font-family: var(--font-display);
  font-style: normal;
}

h2 {
  font-size: var(--font-size-7);
  font-weight: 600;
  margin-bottom: 0;
}

h3 {
  font-size: var(--font-size-5);
  font-weight: 600;
  margin-bottom: 0;
}

h4 {
  font-weight: 500;
}

strong,
b {
  font-weight: 600;
}
