@font-face {
  font-family: "Epilogue";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/css/fonts/epilogue.var.woff2") format("woff2");
}

html {
  --font-sans: Epilogue, sans-serif;

  /* Using calc here to document the pixel value */
  --font-size-0: calc(14 / 16 * 1rem);
  --font-size-1: 1rem;
  --font-size-2: calc(18 / 16 * 1rem);
  --font-size-3: calc(20 / 16 * 1rem);
  --font-size-4: calc(22 / 16 * 1rem);
  --font-size-5: calc(24 / 16 * 1rem);
  --font-size-6: calc(26 / 16 * 1rem);
  --font-size-7: calc(42 / 16 * 1rem);
  --font-size-8: calc(72 / 16 * 1rem);
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

h1 {
  font-size: clamp(var(--font-size-7), 8vw, var(--font-size-8));
  font-weight: 900;
}

h1,
h2 {
  font-style: normal;
}

h2 {
  font-size: var(--font-size-7);
  font-weight: 700;
  margin-bottom: 0;
}

h3 {
  font-size: var(--font-size-6);
  font-weight: 600;
  margin-bottom: 0;
}

h4 {
  font-size: var(--font-size-5);
  font-weight: 600;
}

h5 {
  font-size: var(--font-size-4);
  font-weight: 600;
}

h6 {
  font-size: var(--font-size-3);
  font-weight: 700;
}

strong,
b {
  font-weight: 600;
}

a:focus {
  outline: thick solid currentColor;
}

main a:hover,
main a:focus {
  border-bottom-color: currentColor;
  box-shadow: 0 1px 0 currentColor, inset 0 -1px 0 currentColor;
}

main a {
  border-bottom: 1px solid var(--color-text-primary);
  box-shadow: 0 0 0 currentColor;
  padding-bottom: 0.25em;
  text-decoration: none;
  transition: 0.1s ease;
}

.font-size-0 {
  font-size: var(--font-size-0);
}

.font-size-1 {
  font-size: var(--font-size-1);
}

.font-size-2 {
  font-size: var(--font-size-2);
}

.font-size-3 {
  font-size: var(--font-size-3);
}

.font-size-4 {
  font-size: var(--font-size-4);
}

.font-size-5 {
  font-size: var(--font-size-5);
}

.font-size-6 {
  font-size: var(--font-size-6);
}

.font-size-7 {
  font-size: var(--font-size-7);
}
