body#celena {
  font-family: "IBM Plex Sans", sans-serif;
  color: #000000;
}

.section {
  padding: 60px 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.hero {
  background-color: darkblue;
  color: white;
}
