---
title: Apply to Ideas42 Venture Studio
---

{% extends "layouts/base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero standard-restricted-width">
    <div class="g-max-3 g-right">
      <h1 class="hero__title">
      Apply
      </h1>
    </div>
  </div>
{% endblock %}
