---
title: Apply to be an Entrepreneur at Ventures for Shared Prosperity
noApplyCta: true
noCohortCta: true
---

{% from "components/cohort-nav.njk" import cohort_nav %}
{% extends "layouts/base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero cohort__hero standard-restricted-width">
    {{ cohort_nav() }}
    <div class="grid">
      <div class="grid--max-3">
        <p class="hero__tag">
          The process
        </p>
        <h1 class="hero__title">
          You belong here
        </h1>
        <p class="hero__body g-max-4">
          We’re recruiting four motivated individuals to co-build businesses with us 
          that help address the excess costs of poverty. We’re looking for people (you?) 
          that believe if given the time, the money, and the audience, they can channel 
          their lived experiences, ideas, and talents into positive impact.  
        </p>
      </div>
      {% include "components/apply-note.njk" %}
    </div>
  </div>
{% endblock %}

{% block main %}
<div class="standard-restricted-width">
  <header class="g-max-4">
    {% headingAnchor "2", "The application process" %}
    <p class="font-size-3">
      We have designed our process to give you the opportunity to share your story,
      what motivates you, and why you would be a great fit for the Venture Studio. 
    </p>
  </header>
  <div class="apply__timeline">
    {% headingAnchor "3", "Timeline" %}
    {% include "components/timeline.njk" %}
  </div>
</div>

<div class="standard-restricted-width font-size-2">
  <div class="g-max-4">
    <header>
      {% headingAnchor "2", "What we are looking for" %}
      <p class="font-size-3">
        There is no specific set of skills or experiences that we are looking for. 
        Perhaps you have a strong track record of work on a particular social problem, 
        or you have specific technical, design, or business skills that are relevant to 
        the problems you want to work on -- if so, great!. That said, we are looking for 
        people who have several key traits. 
      </p>
    </header>

    <ul class="font-size-3">
      <li>
        You are <strong>resourceful:</strong> able to inspire others to work for, 
        fund, and contribute to their eventual company.
      </li>
      <li>
        You are <strong>gritty:</strong>  able to stick with the challenges of starting a business, especially when it is hard.
      </li>
      <li>You are <strong>empathetic:</strong>  able to understand the perspectives of others 
      and interrogate their own perspectives when making challenging decisions.</li>
      <li>You have <strong>high acceleration:</strong> able to start solving a problem 
      with something small and grow it quickly.</li>
      <li>You are <strong>creative:</strong> able to think of novel solutions to complex problems.</li>
    </ul>
    <p>
      There are many ways to demonstrate these traits: through work and professional experience, 
      through volunteering, or through other personal experiences. We care about what you’ve done 
      in the past, but we care more about what you <strong>can do</strong> in the future. We look forward to hearing 
      your story and getting to know you.
    </p>
  </div>
</div>

<div class="standard-restricted-width font-size-2 g-section-vertical">
  <header class="g-max-4">
    {% headingAnchor "2", "The importance of lived experience" %}
    <p class="font-size-3">
      Beyond the above traits, we believe that having a direct, personal connection to the challenges 
      we are looking to solve will help founders build stronger, more impactful businesses, and will 
      sustain your passion through the inevitable ups and downs of starting a business. We refer to 
      this as lived experience. In the context of our challenge to improve the financial health and 
      well-being of low and moderate income people in America, lived experience might be the knowledge 
      of our broken healthcare system that you have from spending hours on the phone with an insurance 
      company. Or maybe it’s what you know about the challenges of unpredictable shift scheduling from 
      juggling multiple part-time jobs. We believe that this kind of experience is extremely valuable in 
      building social impact businesses. 
    </p>
  </header>
</div>
{% endblock %}
