---
title: Focus area for ideas42 Venture Studio
---

{% extends "layouts/base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero standard-restricted-width">

    <div>

      <div class="g-max-3 g-right">
        <p class="hero__tag">the poverty tax </p>
        <h1 class="hero__title">
          The Excess Costs of Poverty
        </h1>
        <p>
          There are tens of millions of people in the U.S. who face chronic hunger, housing insecurity, inadequate healthcare, and a daily struggle to make ends meet. The causes of poverty are diverse, complex, and often structural, and the consequences are catastrophic at an individual and societal level.
        </p>
      </div>
      <img src="" alt="">
      <div>Swirly thing here</div>
    </div>

    <div>
      
      <p>
        Our inaugural cohort of entrepreneurs at 
        <a href="/ventures-for-shared-prosperity">
          Ventures for Shared Prosperity
        </a>
        , supported by Wells Fargo, will focus on building businesses that improve the lives of millions by reducing the costs for those living in poverty. While most anti-poverty efforts focus (justifiably) on increasing incomes and economic opportunity, an often-ignored part of the equation is the reality that living in poverty in America is 
        <a href="">
          incredibly expensive.
        </a>
      </p>

      <p>
        In partnership with our first cohort of entrepreneurs we will work to alleviate the pernicious ways that the “poverty tax” manifests itself. If helping solve this problem is interesting, 
        
        <a href="/apply">
          apply
        </a>
        to be an entrepreneur in our first cohort. Read on if you want to learn more about the problem, and where we see opportunities to build large, sustainable, impact businesses.
      </p>
    </div>
    </div>

    <div>Line divisor here</div>

    <div>
      <div>
        <div>
          <p>#</p>
          <h2>The Poverty Tax</h2>
        </div>
      <p>In order to identify potential business opportunities, it's important to first understand the many different forms that the poverty tax takes: </p>
      </div>


      <div>
        <div>
          <p>#</p>
          <h3>Direct Financial Costs</h3>
        </div>

        <ul>

          <li>
            <span>Higher Costs:</span>
            <p>For those who live on low incomes, many goods and services are simply more expensive than they are for wealthier families. From more expensive financial statements to higher car insurance rates to paying more for everyday goods like toilet paper, people living in poverty spend billions more on many products and services than people with greater income and wealth. </p>
          </li>

          <li>
            <span>Disproportionate Costs: </span>
            <p>
              Other costs are technically the same for everyone, but they disproportionately impact people living in poverty. Many of these, like court fines and fees, are predominantly borne by lower-income people of color, while others, like security deposits for rental housing, have an outsized downstream impact on people who can’t afford them, reducing housing security, mobility, and affordability.
            </p>
          </li>

          <li>
            <span> Deferred Costs:</span>
            <p>
              Without sufficient liquidity or access to affordable credit, lower-income families often have no choice but to purchase cheaper, lower-quality assets. When these assets - such as cars or household appliances - need repairs, families must incur additional expenses to fix or replace them, resulting in a higher total cost of ownership.
            </p>
          </li>

        </ul>

        <div>
          <div>
            <p>#</p>
            <h3>Non-Financial Costs </h3>
          </div>
          <p>In addition to financial costs, lower-income individuals also face higher temporal costs (e.g. spending more time on caregiving), administrative costs, and cognitive costs (the near-constant trade-off decisions one must make when managing scarce resources) than higher-income individuals. </p>
        </div>

      </div>

      <div>
        <div>
          <p>#</p>
          <h2>Opportunities</h2>
        </div>
        <p>
          We have identified six specific facets of life where the poverty tax is significant. This list is not meant to be comprehensive, nor is it necessarily the case that each of these problems has a credible software powered, behavioral science informed solution. Instead, they are illustrative of the kinds of problems in the excess costs space that we anticipate our first cohort of entrepreneurs will explore in partnership with our business design team.
        </p>
      </div>

      <ul>
        <li>
          <p>#</p>
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      
    </div>
    
{% endblock %}


