---
title: Focus area for ideas42 Venture Studio
---

{% extends "layouts/base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero standard-restricted-width">
    <div class="g-max-3 g-right">
      <p class="hero__tag">Where those who wish to focus come</p>
      <h1 class="hero__title">
      Focus Area
      </h1>
    </div>
  </div>

{% endblock %}


