---
title: Ventures for Shared Prosperity
noCohortCta: true
---

{% from "components/cohort-nav.njk" import cohort_nav %}
{% extends "layouts/base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero cohort__hero hero--centered standard-restricted-width">
    <p class="hero__tag">
      <img class="cohort__mark" src="/images/cohort-mark.svg" alt="" role="presentation" height="68" width="68"> 
      Cohort one: 2021-2022
    </p>
    <h1 class="hero__title">
      Ventures for Shared Prosperity
    </h1>
    <p class="hero__body"> 
      Focused on improving the financial health and well-being of low and moderate income 
      people in America
    </p>
    <div class="cohort__nav-container">
      {{ cohort_nav(isHome=true) }}
    </div>
  </div>
  <img class="masthead__graphic masthead__graphic--left" src="/images/masthead-graphic-triangles.svg" alt="" width="550" />
{% endblock %}

{% block main %}
<div class="standard-restricted-width grid">
  <div class="cohort__landing-intro grid--max-3">
    <p class="font-size-3">
      As a part of the <a href="http://sharedprosperity.ideas42.org">Shared Prosperity Catalyst</a> 
      we are recruiting talented individuals to join our 
      18-month business co-building program. The first 
      cohort will start in January, 2021, and we are going to focus on building businesses that 
      reduce the <a href="/focus-area/">excess 
      costs of poverty</a> in America. Do you have the heart and soul 
      of an entrepreneur? A passion for solving huge social challenges? 
      <a href="/apply">
        Apply today to join our first cohort of entrepreneurs.
      </a>
    </p>
    <p class="font-size-2">
      Not sure you are ready to apply? Attend a Q&A session to learn more about what we provide our 
      entrepreneurs, how we think about building scalable, impactful 
      businesses, and why we think tackling the problem of the excess costs 
      of poverty is an important one. At the ideas42 Venture Studio we believe 
      we can help improve the lives of individuals living in poverty by partnering 
      with talented entrepreneurs to build and scale software powered, behavioral 
      science informed businesses that address some of the diverse, complex and 
      structural causes of poverty in America.
    </p>
  </div>

  <div class="card cohort__landing-qa grid--max-2">
    <header class="qa__intro">
      <div class="qa__intro-graphic">
        <img 
          src="/images/team-member-small-manasee-desai.png" 
          alt="Manasee Desai" 
          width="110" 
          height="110">
        <img 
          src="/images/team-member-small-blessing-ogunyemi.png" 
          alt="Blessing Ogunyemi" 
          width="110" 
          height="110">
        <img 
          src="/images/team-member-small-harrison-neuert.png" 
          alt="Harrison Neuert" 
          width="110" 
          height="110">
      </div>
      <h2 class="font-size-4">Join a Q&A with the team </h2>
      <p>
        Learn more about the ideas42 Venture Studio and our business building 
        program at one of the following open ended conference calls.
      </p>
    </header>
    <ul class="cohort__qa-sessions">
      {% for session in qaSessions %}
         <li>
          <a class="btn btn--outlined" href="{{ session.url }}" target="_blank" rel="noopener">
            <time datetime="{{ session.datetime }}">
              {% dateFormat session.datetime, "LLL d yyyy '<br/>' t ZZZZ" %}
            </time>
          </a>
        </li>
      {% endfor %}
    </ul>
    <p class="qa__note">
      Can't make these times? We will be recording all the sessions and posting them here.
      Or, feel free to <a href="mailto:info@ideas42ventures.com">send us an email</a> directly with your questions. 
    </p>
  </div>
</div>
{% endblock %}


  
 


