---
title: Ventures for Shared Prosperity
noCohortCta: true
noApplyCta: true
---

{% from "components/cohort-nav.njk" import cohort_nav %}
{% extends "layouts/base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero cohort__hero hero--centered standard-restricted-width">
    <p class="hero__tag">
      Cohort one: 2021-2022
    </p>
    <h1 class="hero__title">
      Ventures for Shared Prosperity
    </h1>
    <p class="hero__body">
      Focused on improving the financial health and well-being of individuals and families with lower incomes.
    </p>
    <div class="cohort__nav-container">
      {{ cohort_nav() }}
    </div>
  </div>
  <img class="masthead__graphic masthead__graphic--left" src="/images/masthead-graphic-triangles.svg" alt="" width="550" />
{% endblock %}

{% block main %}
<div class="standard-restricted-width grid">
  <div class="cohort__landing-intro grid--max-3">
    <p class="font-size-3">
      As a part of the <a href="http://sharedprosperity.ideas42.org">Shared Prosperity Catalyst</a>
      we are recruiting talented individuals to join our
      18-month business co-building program. The first
      cohort will start in January, 2021, and we are going to focus on building businesses that
      reduce the <a href="/ventures-for-shared-prosperity/focus-area/">excess
      costs of poverty</a> in America.
    </p>
    <p class="font-size-2">
      At the ideas42 Venture Studio we believe
      we can help improve the lives of individuals living in poverty by partnering
      with talented entrepreneurs to build and scale software powered, behavioral
      science informed businesses that address some of the diverse, complex and
      structural causes of poverty in America.
    </p>
    <p class="font-size-2">
      Have questions? Feel free to <a href="mailto:info@ideas42ventures.com">send us an email</a> directly.
    </p>
  </div>

  <div class="card cohort__landing-qa grid--max-2" id="qa-sessions">
    <header class="qa__intro">
      <h2 class="font-size-4">Team Q&A Sessions</h2>
      <p>
        We recorded two Q&A sessions where we shared more about what we provide,
        how we think about building businesses, and why we think tackling the
        problem of the excess costs of poverty is important.
      </p>
    </header>

    <ul class="cohort__qa-sessions">
      {% for session in qaSessions %}
        <li>
          <a class="btn btn--outlined"
            href="{% if session.past %}{{ session.videoUrl }}{% else %}{{ session.url }}{% endif %}"
            target="_blank" rel="noopener">
            Session {{ loop.index }}:
            <time datetime="{{ session.datetime }}">
              {% dateFormat session.datetime, "LLL d yyyy" %}
            </time>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
