---
title: What the ideas42 Venture Studio can provide
---

{% extends "layouts/base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero standard-restricted-width">
   {%include "components/cohort-banner.njk"%}
    <p class="hero__tag">We're with you</p>

      <h1 class="hero__title">
        What we provide our entrepreneurs
      </h1>
      <p>Starting a business is risky, and for many individuals without a personal financial safety net, or access to a network of individuals with significant capital to fund their venture, the risk is simply too high. We view this as an unacceptable barrier to entry for entrepreneurship and believe that it is both unfair, and reduces the volume and quality of new businesses as many individuals with the talent, motivation and passion to start their own business are unable to. At the ideas42 Venture Studio we can’t guarantee your success, but we can reduce your risk of trying to build an amazing business, and support those entrepreneurs who don’t have access today. </p>

      <div>
      <p>
      If you are selected to join the ideas42 Venture Studio as an entrepreneur, we will pay you a salary ($75k per year), and provide benefits for 18th months, while surrounding you with a dedicated team of business builders, and behavioral scientists to help bring your vision to life.
      </p>
      </div>
    <div class="g-max-3 g-right">
   


    <div>
      <h2>The details</h2>
      <p>
        Building a business is hard. Building a large, socially impactful business is even harder. It shouldn’t require you to risk everything to give it a go. Join us. Build something amazing. We don’t have all the answers and we won’t have it all figured out when you join us. But we know it takes a solid foundation to build a thriving technology business. We provide that foundation. 
      </p>

      <h3>Compensation package</h3>
      <ul>
        <li><strong>Salary:</strong>$75K annual salary for 18 months</li>
        <li><strong>Benefits:</strong> Healthcare + dependent care benefits</li>
        <li><strong>Workspace:</strong>Home office or remote office set-up support and supply (laptop, monitor, etc.)</li>
      </ul>


      <h3>Technical and business building support</h3>
      <p>Full time dedicated (shared across four entrepreneurs) from the ideas42 Venture Studio team, including two software developers, a product manager and product designer. Note that these are specifically not "advisory" roles, but intended to do actual work in partnership with you.</p>
      <ul>
        <li><strong>Software Engineer and UX Designer: </strong>Two full time software engineers/UX designers to help build product prototypes and initial working products</li>

        <li><strong>Product Manager:</strong>
          One full time individual to help define and prioritize product features, draft user stories and align your vision with short-term priorities
        </li>


        <li><strong>Business Designer:</strong>
          One full time individual to help evaluate market opportunities/sizes, develop business plans, pricing models, go to market strategy and business model
      </ul>

      <h3>Business building capital</h3>
      <p>There are lots of expenses that come with starting a business, not all of which are predictable. As an entrepreneur at the ideas42 Venture Studio you will have access to roughly $120k to spend (with approval by the studio lead) for sales, marketing, legal and additional tech support during your 18 months at the Studio. </p>

      <h3>ideas42 support </h3>
      <ul>
        <li><strong>Behavioral design:</strong>
          Basic behavioral design training and support
        </li>
        <li><strong>Legal:</strong>
          Legal support from the ideas42 General Counsel
        </li>
      </ul>

      <h3>Additional support from ideas42 and Wells Fargo </h3>


      <ul>
        <li>Ideas42
          <ul>
            <li>
              <strong>
                Focus area research:
              </strong>
              Each entrepreneur will be provided a detailed research document and briefing on the cohort focus area developed by ideas42 research staff</li>

            <li>
              <strong>Behavioral Design support:</strong>
              Each entrepreneur will have access to roughly two months of a full time ideas42 Behavioral Design team to do market research and behavioral analysis
            </li>

            <li>
              <strong>Marketing support:</strong>
              Access to the ideas42 communications team to support marketing strategy and media outreach 
            </li>

            <li>
              <strong>Convening:</strong>
               For each cohort of entrepreneurs, ideas42 and Wells Fargo will organize a convening of academics, practitioners and investors to learn and discuss opportunities related to the specific focus area of that cohort
            </li>
          </ul>
          <li>
            <strong>
              Wells Fargo:
            </strong>
             Entrepreneurs at Ventures for Shared Prosperity will have access to teams across Wells Fargo who may serve as additional marketing, engineering or other support</li>
        </li>
      </ul>

      <p> On a final note, being an entrepreneur can be lonely and a roller coaster of emotional highs and lows. While we can’t make it easy, we are here as your partner, and team. We will work to lift you up with encouragement, feedback, and kindness so you can bring your best self to the process.</p>
    </div>
        </div>

  </div>
{% endblock %}

