---
title: What the ideas42 Venture Studio can provide
---

{% extends "layouts/base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero standard-restricted-width">
    <div class="g-max-3 g-right">
      <h1 class="hero__title">
        What we provide
      </h1>
    </div>
  </div>
{% endblock %}

{% block main %}

{% endblock %}
