<!doctype html>
<html lang="en" data-page="{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">

<head>
  {% include "head-meta.njk" %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BBWJESM3VE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-BBWJESM3VE');
  </script>

  <!-- Heap -->
  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
    heap.load("{{site.heapToken}}");
  </script>

  <script src="https://roadrunner.ideas42ventures.com/script.js"
    honor-dnt="true"
    site="JGGXGDMD"
    excluded-domains="localhost,ideas42ventures.netlify.app" defer></script>
  <link rel="preload" href="/css/fonts/epilogue.var.woff2" as="font" type="font/woff2" crossorigin>

  {% if site.environment === "production" -%}
    {% set inlineCSS -%}
      {% include "../../css/site.njk" %}
    {%- endset %}

    <style>
      {{ inlineCSS | cssmin | safe }}
    </style>
  {% else %}
    <link rel="stylesheet" href="/css/site.css">
  {%- endif %}

  <script>
    /* FIXME: worker turned off during early dev
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }*/
  </script>
</head>

  <body>
    {% include "components/banner-mobile.njk" %}
    <div id="content">
      {% include "components/banner.njk" %}

      <main>
        <div class="masthead">
          {% block masthead %}{% endblock %}
        </div>
        {% block main %}{% endblock %}
      </main>

      {% block footer %}
        {% if noApplyCta != true %}
          {% include "components/apply-cta.njk" %}
        {% endif %}

        {% include "components/footer.njk" %}
      {% endblock %}
    </div>
    <script>
      {% include "../../js/site.js" %}
    </script>
  </body>
</html>
