{% extends "layouts/base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero standard-restricted-width">
    <div class="g-max-4">
      <p class="hero__tag">The knowledge</p>
      <h1 class="hero__title">
        Frequently asked questions
      </h1>
      <div class="hero__body">
        <p>
          We just launched, so questions haven't been asked frequently yet. 
          We'll post them here when they come in.
        </p>
        <p>
          Feel free to email us any 
          questions at <a href="mailto:info@ideas42ventures.com">info@ideas42ventures.com</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}