{% extends "layouts/base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero standard-restricted-width">
    <div class="g-max-4">
      <p class="hero__tag">The ingredients</p>
      <h1 class="hero__title">
        Handbook
      </h1>
      <p class="hero__body g-max-3">
        This is the home for information about how we operate. One of our 
        <a href="/about#our-values">company values</a> is transparency. Making our handbook open to the public 
        is one thing we do towards being as transparent as possible. 
      </p>
    </div>
  </div>
{% endblock %}

{% block main %}

<div class="standard-restricted-width">
  <div class="grid">
    <div class="font-size-2 grid--max-3 handbook__content">
      {{ content | safe }}
    </div>

    <nav class="handbook__nav grid--max-2">
      <div class="nav__contents g-max-1-half g-centered">
        <a href="/handbook">Handbook</a>
        <ul>
          <li>
            <a href="/handbook/product">Product</a>
            <ul>
              <li><a href="/handbook/product#for-entrepreneurs">For Entrepreneurs</a></li>
              <li><a href="/handbook/product#for-candidates">For Candidates</a></li>
              <li><a href="/handbook/product#for-team-members">For Team Members</a></li>
              <li><a href="/handbook/product#principles">Principles</a></li>
              <li>
                <a href="/handbook/product#design">Design</a>
                <ul>
                  <li><a href="/handbook/product#design-tools">Design tools</a></li>
                  <li><a href="/handbook/product#design-process">Design process</a></li>
                  <li><a href="/handbook/product#design-feedback">Design feedback</a></li>
                  <li><a href="/handbook/product#design-reviews">Design reviews</a></li>
                </ul>
              </li>
              <li>
                <a href="/handbook/product#engineering">Engineering</a>
                <ul>
                  <li><a href="/handbook/product#technology-recommendations">Technology recommendations</a></li>
                </ul>
              </li>
              <li>
                <a href="/handbook/product#resources">Resources</a>
                <ul>
                  <li><a href="/handbook/product#books">Books</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

{% endblock %}