.apply-cta {
  background-color: #ffeef6;
  position: relative;
}

.apply-cta::before {
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
  content: "";
  display: block;
  height: calc(var(--g-row) * 10);
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.apply-cta__contents {
  margin: 0 auto;
  padding: calc(var(--g-row) * 11) var(--g-gutter-width) calc(var(--g-row) * 7)
    var(--g-gutter-width);
  position: relative;
  z-index: 10;
}

.apply-cta h2 {
  margin-top: 0;
}

.apply-cta__action {
  --margin-top: calc(var(--g-row) * 4);
  margin: var(--margin-top) auto 0 auto;
  max-width: var(--g-cols-2--fixed);
  text-align: center;
  width: 100%;
}

.apply-cta__btn {
  --padding-v: 1em;
  --border-radius: 12px;
  --font-size: var(--font-size-5);
  width: 100%;
}

@media (min-width: 50em) {
  .apply-cta__contents {
    display: flex;
    flex-wrap: wrap;
  }

  .apply-cta .content-block__intro {
    flex: 1 1;
    max-width: var(--g-cols-3--fixed);
    padding-right: calc(var(--g-gutter-width) * 4);
  }

  .apply-cta .content-block__intro p {
    max-width: var(--g-cols-2-dot-5--fixed);
  }

  .apply-cta__action {
    --margin-top: calc(var(--g-row) * 11);
    margin-right: 0;
    max-width: calc(var(--g-col-width) + var(--g-gutter-width));
  }
}
