.banner {
  position: relative;
  z-index: 20;
}

.banner__contents {
  padding-top: var(--padding-v, 0.5rem);
}

.banner__cta + .banner__contents {
  --padding-v: 5rem;
}

.banner__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: var(--g-gutter-width);
  text-align: right;
  margin-left: auto;
}

.banner__cta {
  --padding-h: calc((var(--g-gutter-width) * 2.75) * 2);
  --border-radius: 40px;
  --padding-v: 0.5rem;
  --pos-top: calc(var(--g-row) * 2);
  --pos-left: calc(var(--g-gutter-width) * 2.75);
  position: fixed;
  width: calc(100% - var(--padding-h));
}

.banner__contents {
  display: flex;
}

.banner__nav a + a {
  margin-left: min(4vw, 3.75rem);
}

.banner__cta {
  --pos-top: calc(var(--g-row) * 3);
  --pos-left: calc(50% - var(--width-max) / 2);
}

.banner__cta + .banner__contents {
  --padding-v: 3rem;
}

.banner__logo {
  display: block;
  width: 12rem;
  margin: calc(var(--g-row) * 4) 0;
}

.banner__nav-item {
  align-items: center;
  color: var(--text-primary);
  display: inline-flex;
  font-weight: 600;
  position: relative;
  text-decoration: none;
}

.banner__nav-item img {
  margin-right: 0.25rem;
}

.banner__nav-item:hover {
  color: var(--color-accent-active);
}

.banner__nav-item::before {
  --size: 0.5625rem;
  background-color: var(--color-accent-active);
  border-radius: calc(var(--size) / 2);
  content: "";
  display: block;
  height: var(--size);
  left: calc(var(--size) * -1.1);
  position: absolute;
  top: calc(var(--size) * -0.6);
  transform: scale3d(0, 0, 0);
  transition: transform 0.12s ease;
  width: var(--size);
}

[data-page="ventures-for-shared-prosperity"]
  .banner__nav-item[href*="ventures-for-shared-prosperity"],
[data-page="focus-area"]
  .banner__nav-item[href*="ventures-for-shared-prosperity"],
[data-page="what-we-provide"]
  .banner__nav-item[href*="ventures-for-shared-prosperity"],
[data-page="apply"] .banner__nav-item[href*="ventures-for-shared-prosperity"],
[data-page="model"] .banner__nav-item[href*="model"],
[data-page="about"] .banner__nav-item[href*="about"],
[data-page="careers"] .banner__nav-item[href*="careers"],
[data-page="faq"] .banner__nav-item[href*="faq"] {
  color: var(--color-accent-active);
}

.banner__nav-item:hover::before,
[data-page="ventures-for-shared-prosperity"]
  .banner__nav-item[href*="ventures-for-shared-prosperity"]::before,
[data-page="focus-area"]
  .banner__nav-item[href*="ventures-for-shared-prosperity"]::before,
[data-page="what-we-provide"]
  .banner__nav-item[href*="ventures-for-shared-prosperity"]::before,
[data-page="apply"]
  .banner__nav-item[href*="ventures-for-shared-prosperity"]::before,
[data-page="model"] .banner__nav-item[href*="model"]::before,
[data-page="about"] .banner__nav-item[href*="about"]::before,
[data-page="careers"] .banner__nav-item[href*="careers"]::before,
[data-page="faq"] .banner__nav-item[href*="faq"]::before {
  transform: scale3d(1, 1, 1);
}

.banner__cta {
  --border-radius: 0;
  --padding-v: 0.9rem;
  --width-max: 46rem;
  --pos-left: 0;
  --pos-top: 0;
  align-items: center;
  background-color: white;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-not-quite-white);
  box-shadow: var(--shadow-card);
  color: var(--color-text-primary);
  display: flex;
  justify-content: space-between;
  left: var(--pos-left);
  line-height: 1.4;
  margin: 0 auto;
  margin-bottom: var(--margin-bottom, 0);
  max-width: var(--width-max);
  padding: var(--padding-v) 1.4rem;
  position: absolute;
  text-decoration: none;
  top: var(--pos-top);
  transform: translateY(var(--translate-y, 0));
  transition: 0.1s ease;
  width: 100%;
  z-index: 2;
}

.banner__cta img {
  flex-shrink: 0;
  margin-right: 0.5rem;
}

.banner__cta .btn__arrow {
  color: var(--color-accent-active);
  margin-top: 0.4rem;
  transition: 0.12s ease;
}

.banner__cta:hover {
  border-color: var(--color-accent-active);
  color: var(--color-accent-active);
}

.banner__cta:focus {
  border-radius: var(--border-radius);
}

.banner__cta:focus .btn__arrow {
  color: white;
}

.banner__cta:hover .btn__arrow,
.banner__cta:focus .btn__arrow {
  transform: translate3d(5px, 0, 0);
}

.btn.banner__apply-btn {
  --color: var(--color-text-primary);
}

.btn.banner__apply-btn:hover {
  --color: var(--color-accent-active);
}

.banner__menu-button {
  display: none;
  border: 0;
  background: transparent;
  width: 3rem;
  margin-left: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.banner__menu-button > svg {
  width: 100%;
}

.banner__mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-text-primary);
  color: white;
  padding-top: var(--padding-v, 0.5rem);
  padding-left: var(--padding-h);
  padding-right: var(--padding-h);
  padding-bottom: 3rem;
  overflow-y: auto;
}

.banner__mobile-header {
  display: flex;
}

.banner__mobile .banner__menu-button {
  color: white;
}

.banner__mobile-nav {
  display: flex;
  flex-direction: column;
}

.banner__nav-item.banner__mobile-nav-item {
  font-size: var(--font-size-3);
  color: white;
  margin: var(--g-row);
}

[data-page="ventures-for-shared-prosperity"]
  .banner__nav-item.banner__mobile-nav-item[href*="ventures-for-shared-prosperity"],
[data-page="focus-area"]
  .banner__nav-item.banner__mobile-nav-item[href*="ventures-for-shared-prosperity"],
[data-page="what-we-provide"]
  .banner__nav-item.banner__mobile-nav-item[href*="ventures-for-shared-prosperity"],
[data-page="apply"]
  .banner__nav-item.banner__mobile-nav-item[href*="ventures-for-shared-prosperity"],
[data-page="model"] .banner__nav-item.banner__mobile-nav-item[href*="model"],
[data-page="about"] .banner__nav-item.banner__mobile-nav-item[href*="about"],
[data-page="careers"]
  .banner__nav-item.banner__mobile-nav-item[href*="careers"],
[data-page="faq"] .banner__nav-item.banner__mobile-nav-item[href*="faq"] {
  color: white;
}

@media (max-width: 55rem) {
  .banner__nav {
    display: none;
  }

  .banner__menu-button {
    display: block;
  }
}
