.banner__contents {
  margin-left: auto;
  max-width: var(--g-cols-4--fixed);
  padding-top: 1.25rem;
}

.banner::after {
  --mask: url("/images/banner-line.svg") no-repeat;
  --mask-size: auto 16px;
  background-color: var(--color-accent-primary);
  content: "";
  display: block;
  height: 23px;
  margin: calc(var(--g-row) * 4) 0 var(--g-row) auto;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-size: var(--mask-size);
  mask-size: var(--mask-size);
  max-width: calc(var(--g-cols-4--fixed) + var(--g-gutter-width));
  width: 100%;
}

.banner__logo {
  display: block;
  width: 10rem;
}

.banner__apply-btn {
  display: block;
  margin-top: calc(var(--g-row) * 3);
  font-size: var(--font-size-2);
}

@media (min-width: 24em) {
  .banner__contents {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  .banner__apply-btn {
    display: inline-block;
    font-size: var(--font-size-4);
    margin: 0 var(--g-gutter-width) 0 0;
  }

  .banner::after {
    --mask-size: 100%;
  }
}
