.btn {
  --padding-v: 0.7em;
  --padding-h: 1.2em;
  background: var(--color-accent-active) var(--gradient-accent);
  border-radius: var(--border-radius, 8px);
  border: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-body);
  font-size: var(--font-size, inherit);
  font-weight: 600;
  line-height: 1;
  padding: var(--padding-v) var(--padding-h);
  text-align: center;
  text-decoration: none;
}
