.btn,
.field--connected-btn > .btn,
.newsletter-fields > input .btn {
  --padding-v: 0.7em;
  --padding-h: 1.5em;
  --color: var(--color-accent-active);
  background: var(--color);
  border-radius: var(--border-radius, 8px);
  border: 2px solid var(--color);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size, inherit);
  font-weight: 600;
  line-height: 1;
  padding: calc(var(--padding-v) + 0.18em) var(--padding-h) var(--padding-v)
    var(--padding-h);
  text-align: center;
  text-decoration: none;
}

.btn--outlined {
  background-color: transparent;
  color: var(--color);
}

.btn:focus {
  border-radius: var(--border-radius, 8px);
}

.btn__arrow svg {
  height: 23px;
  width: 31px;
}

.btn--disabled {
  --color: var(--color-text-primary);
  cursor: default;
  opacity: 0.4;
}
