.callout {
  background-color: var(--color-accent-tertiary);
  border-radius: 4px;
  padding: 1rem 1.75rem;
  position: relative;
}

.callout header p:first-child {
  margin: 0.25rem 0 0 0;
}

.callout header p + p {
  margin-top: 0;
}

.callout::before {
  --size: 4.2rem;
  background: transparent url("/images/graphic-shape-flock.svg") no-repeat
    center;
  content: "";
  display: block;
  height: var(--size);
  left: calc(var(--size) * -1.1);
  position: absolute;
  width: var(--size);
}

.callout a {
  color: var(--color-text-primary);
}

.callout ol {
  margin-bottom: 0.25rem;
  padding-left: 1.2rem;
}

.callout li + li {
  margin-top: 0.4rem;
}
