.cohort-nav {
  --outer-radius: 8px;
  background-color: white;
  border: 1px solid var(--color-not-quite-white);
  border-radius: var(--outer-radius);
  box-shadow: var(--shadow-card);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(var(--g-row) * 7);
}

.cohort-nav ul {
  display: grid;
  flex: 1 1 100%;
  grid-template-columns: 5.5rem 1fr;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
}

.cohort-nav__item {
  display: flex;
  flex: 1;
  grid-column: 2;
  padding: 0 0.5rem;
}

.cohort-nav__item a,
.cohort-nav__status {
  display: inline-block;
  padding-bottom: 1.1rem;
  padding-top: 1.2rem;
}

.cohort-nav__item a {
  --shadow-offset: 0;
  box-shadow: inset 0 var(--shadow-offset) 0 currentColor;
  color: var(--color-text-primary);
  text-decoration: none;
  transition: box-shadow 0.1s ease;
  text-align: left;
}

.cohort-nav a:hover {
  --shadow-offset: -3px;
  color: var(--color-accent-active);
}

.cohort-nav__home-btn {
  align-items: center;
  grid-column: 1;
  margin-left: 1.5rem;
  padding: 0.25rem 0 0 0;
  flex: 0 0 1.75rem;
}

.cohort-nav__home-btn a {
  --shadow-spread: 0;
  --shadow-color: white;
  background-color: white;
  box-shadow: 0 0 0 var(--shadow-spread) var(--shadow-color);
  border-radius: 1rem;
  padding: 0;
  height: 1.75rem;
  width: 1.75rem;
}

.cohort-nav__home-btn a:hover,
.cohort-nav__home-btn a:focus {
  --shadow-spread: 3px;
  --shadow-color: var(--color-accent-active);
}

[data-page="ventures-for-shared-prosperity"] .cohort-nav__home-link,
[data-page="focus-area"] .cohort-nav [href*="focus-area"],
[data-page="what-we-provide"] .cohort-nav [href*="what-we-provide"],
[data-page="apply"] .cohort-nav [href*="apply"] {
  --shadow-offset: -3px;
  color: var(--color-accent-secondary);
}

.cohort-nav__status {
  background-color: var(--color-accent-tertiary);
  border-radius: 0 0 var(--outer-radius) var(--outer-radius);
  flex: 1 1 100%;
  line-height: 1.2;
  padding-left: 1.2rem;
  padding-right: 1.6rem;
  text-align: center;
}

@media (min-width: 35em) {
  .cohort-nav ul {
    display: flex;
    padding: 0 2.5rem 0 0;
    justify-content: space-between;
  }

  .cohort-nav__item {
    justify-content: center;
    max-width: max-content;
  }

  .cohort-nav__item a {
    text-align: center;
  }
}

@media (min-width: 56em) {
  .cohort-nav {
    --outer-radius: 50px;
    flex-wrap: nowrap;
    transform: translateX(-1.5rem);
  }

  .cohort-nav ul {
    flex: 1 1;
  }

  .cohort-nav__status {
    align-items: center;
    border-radius: 0 var(--outer-radius) var(--outer-radius) 0;
    display: flex;
    flex: 1 1;
    max-width: max-content;
  }
}
