.contentinfo {
  background-image: url("/images/footer-line.svg"),
    linear-gradient(102.68deg, #1d0354 25.62%, #9111b9 98.57%);
  background-repeat: no-repeat;
  background-size: 1200px 10px, auto;
  background-position: top center, top left;
  color: var(--color-text-light);
  padding: calc(var(--g-row) * 8) 0 calc(var(--g-row) * 12) 0;
}

.contentinfo__contents {
  --padding-h: var(--g-gutter-width);
  margin: 0 auto;
  padding: 0 var(--padding-h);
}

.contentinfo__nav {
  margin-top: calc(var(--g-row) * 9);
}

.contentinfo__nav a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--color-text-light);
  display: inline-block;
  font-family: var(--font-display);
  font-size: var(--font-size-1);
  font-weight: 600;
  margin-right: var(--g-gutter-width);
  padding: 0.4em 0;
  text-decoration: none;
}

.contentinfo__nav a:hover,
.contentinfo__nav a:focus {
  border-bottom-color: var(--color-text-light);
  color: var(--color-accent-active);
}

@media (min-width: 37.5em) {
  .contentinfo__contents {
    --padding-h: calc(var(--g-gutter-width) * 2.5);
  }
}
