.header-anchor {
  border: none;
  color: var(--color-text-primary);
  display: inline-block;
  font-size: 87%;
  opacity: 0.3;
  padding-bottom: 0;
  text-decoration: none;
  transition: 0.12s ease;
}

.header-anchor:hover,
.header-anchor:focus,
:target .header-anchor {
  box-shadow: none;
  color: var(--color-accent-active);
  opacity: 1;
}

@media (min-width: 37.5em) {
  .header-anchor {
    margin-left: -1.12em;
  }
}
