.masthead {
  background-color: var(--color-white);
  padding-bottom: calc(var(--g-row) * 13);
  position: relative;
}

.masthead__graphic {
  pointer-events: none;
  position: absolute;
  left: 48%;
  top: 20px;
  z-index: 1;
}

.masthead__graphic--left {
  left: initial;
  right: 48%;
}

.masthead__graphic--collage {
  right: 52%;
  top: 75px;
}
