.masthead {
  background-color: var(--color-white);
  padding-bottom: calc(var(--g-row) * 14);
  overflow: hidden;
  position: relative;
}

.masthead__graphic {
  pointer-events: none;
  position: absolute;
  left: 48%;
  top: 1.875rem;
  z-index: 1;
}

.masthead__graphic--left {
  left: initial;
  right: 52%;
}
