.newsletter-form fieldset {
  border: 0;
  padding: 0;
}

.newsletter-form legend {
  display: block;
  padding: 0;
}

.newsletter-form legend + label {
  margin-top: var(--g-row);
}

.newsletter-form legend:not([class]) {
  font-size: var(--font-size-3);
  font-weight: 600;
}

.newsletter-info {
  margin-bottom: calc(var(--g-row) * 4);
  margin-top: 0;
}

.newsletter-form label {
  display: block;
  font-size: var(--font-size-1);
  font-weight: 600;
  padding: 0 0 0.25rem 0;
  width: 100%;
}

.field--connected-btn {
  border-radius: 9px;
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-2);
}

input {
  border: 1px solid var(--color-not-quite-white);
  border-radius: var(--border-radius, 8px);
  font-size: inherit;
  padding: 0.9em;
}

.input--full {
  display: block;
  width: 100%;
}

.input--full ~ .btn,
.btn--full {
  margin-top: var(--g-row);
  width: 100%;
}

.field--connected-btn > .input {
  --border-radius: 8px 8px 0 0;
  background-color: rgba(255, 255, 255, 0.08);
  border: 0;
  border-radius: var(--border-radius);
  color: var(--color-text-light);
  flex: 1;
}

.field--connected-btn > .input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.field--connected-btn > input .btn {
  --border-radius: 0 0 8px 8px;
  width: 100%;
}

.form__msg {
  background-color: white;
  border-radius: 8px;
  color: var(--color-needed-one-more);
  display: block;
  font-size: var(--font-size-0);
  font-weight: 700;
  padding: 0.25rem;
  text-align: center;
}

@media (min-width: 40.625em) {
  .field--connected-btn > .input {
    --border-radius: 8px 0 0 8px;
  }

  .field--connected-btn > input .btn {
    --border-radius: 0 8px 8px 0;
    --padding-h: 1em;
    padding: var(--padding-v) var(--padding-h);
    width: auto;
  }
}
