.newsletter-form fieldset {
  border: 0;
  padding: 0;
}

.newsletter-form legend {
  display: block;
  font-size: var(--font-size-3);
  font-weight: 600;
  padding: 0 0 var(--g-row) 0;
}

.newsletter-info {
  margin-bottom: calc(var(--g-row) * 3);
  margin-top: 0;
  opacity: 0.8;
}

.newsletter-form label {
  display: block;
  font-size: var(--font-size-1);
  font-weight: 600;
  opacity: 0.8;
  padding: 0 0 0.8rem 0;
  width: 100%;
}

.field--connected-btn {
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-2);
}

.field--connected-btn:focus-within {
  border-color: rgba(255, 255, 255, 0.75);
}

.field--connected-btn input {
  --border-radius: 8px 8px 0 0;
  background-color: var(--color-text-primary);
  border: 0;
  border-radius: var(--border-radius);
  color: var(--color-text-light);
  flex: 1;
  padding: 0.9em;
  font-size: inherit;
}

.field--connected-btn input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.field--connected-btn .btn {
  --border-radius: 0 0 8px 8px;
  width: 100%;
}

@media (min-width: 40.625em) {
  .field--connected-btn input {
    --border-radius: 8px 0 0 8px;
  }

  .field--connected-btn .btn {
    --border-radius: 0 8px 8px 0;
    width: auto;
  }
}
