.people-list {
  display: grid;
  gap: var(--g-gutter-width);
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  list-style: none;
  margin: 2rem 0 5rem 0;
  padding: 0;
}

.person {
  display: flex;
  flex: 1 1;
  max-width: 19rem;
  min-width: 15rem;
}

.person .card {
  flex: 1;
  overflow: hidden;
}

.person__team {
  color: var(--color-accent-secondary);
  font-size: var(--font-size-0);
  font-weight: 700;
  text-transform: uppercase;
}

.person__img {
  display: block;
  width: 100%;
}

.person__info {
  padding: 0.75rem 1rem 0.75rem 1rem;
}

.person__name {
  font-size: var(--font-size-2);
  margin: 0;
}

.person__focus {
  margin: 0;
}

.person__social-link {
  border: 0;
  display: inline-block;
  filter: grayscale(100%) contrast(300%);
  margin-top: 1rem;
  max-width: 4rem;
}

.person__social-link:hover,
.person__social-link:focus {
  filter: grayscale(0) contrast(100%);
}

.person__social-link img {
  display: block;
  width: 100%;
}
