.timeline {
  margin: calc(var(--g-row) * 4) 0 0 0;
  max-width: var(--g-cols-2--fixed);
}

.timeline__contents {
  display: grid;
  grid-template-columns: 0.4fr 0.25fr 0.25fr 1fr;
}

.timeline__caption {
  margin-top: calc(var(--g-row) * 4);
}

.timeline__caption p::before {
  background-color: var(--color-text-primary);
  border-radius: 0.5rem;
  content: "";
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
}

.timeline__caption ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.timeline__caption li {
  padding: 0.25rem;
}

.timeline__caption .btn {
  --font-size: var(--font-size-0);
}

.timeline__months {
  position: relative;
}

.timeline__months::after {
  background-color: var(--color-accent-active);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
  width: 2px;
}

.timeline__month {
  --num-rows: 20;
  display: block;
  height: calc(var(--g-row) * var(--num-rows));
  padding-bottom: var(--g-row);
  padding-right: 1rem;
  position: relative;
  text-align: right;
}

.timeline__month strong {
  position: relative;
}

.timeline__month:first-child {
  --num-rows: 5;
}

.timeline__month:last-child {
  --num-rows: 25;
}

.timeline__month:last-child::before {
  background: white url("/images/triangle-bright.svg") no-repeat center;
  background-size: 95%;
  bottom: 0;
  content: "";
  display: block;
  height: 6.6875rem;
  pointer-events: none;
  position: absolute;
  right: -3.55rem;
  width: 7.3125rem;
  z-index: 2;
}

.timeline__dates,
.timeline__ranges,
.timeline__events {
  --num-days: 130;
  display: grid;
  grid-template-rows: repeat(var(--num-days), 0.667%);
}

.timeline__events {
  list-style: none;
  padding: 0;
}

.timeline__date,
.timeline__range,
.timeline__marker,
.timeline__event {
  grid-row: var(--pos);
}

.timeline__date {
  font-size: var(--font-size-0);
  font-weight: 600;
  padding-left: 1.4rem;
  position: relative;
}

.timeline__date::before,
.timeline__date::after {
  --size-outer: 16px;
  --size-inner: 12px;
  content: "";
  position: absolute;
  display: block;
}

.timeline__date::before {
  --offset: calc(var(--size-outer) / -2);
  background-color: var(--color-accent-active);
  border-radius: calc(var(--size-outer) / 2);
  height: var(--size-outer);
  left: var(--offset);
  width: var(--size-outer);
}

.timeline__date::after {
  --offset-inner: calc((var(--size-outer) - var(--size-inner)) / 2);
  --offset-outer: calc(var(--size-inner) / -2);
  background: white;
  border-radius: calc(var(--size-inner) / 2);
  height: var(--size-inner);
  top: var(--offset-inner);
  left: var(--offset-outer);
  width: var(--size-inner);
}

.timeline__date.date--session::before {
  display: none;
}

.timeline__date.date--session::after {
  background: var(--color-text-primary);
}

.timeline__range {
  border: 1px solid var(--color-text-primary);
  border-left: 0;
  border-radius: 0 4px 4px 0;
  width: calc(var(--g-row) * 1.5);
}

.timeline__range::after {
  background-color: var(--color-text-primary);
  content: "";
  display: block;
  height: 1px;
  left: calc(var(--g-row) * 1.5);
  position: relative;
  top: 49%;
  width: calc(var(--g-row) * 2);
}

.timeline__marker {
  background-color: var(--color-text-primary);
  display: block;
  height: 1px;
  margin-left: -2rem;
  width: calc(var(--g-row) * 8);
}

.timeline__event {
  margin: 0;
  text-align: left;
}

.timeline__event strong {
  display: block;
  line-height: 1.1;
}

.timeline__event p {
  font-size: var(--font-size-0);
  margin-top: 0.25rem;
}

/* Sep 30 - Oct 18 */
.timeline__date:nth-child(1) {
  --pos: 8;
}

.timeline__date:nth-child(2) {
  --pos: 18;
}

.timeline__date:nth-child(3) {
  --pos: 24;
}

.timeline__date:nth-child(4) {
  --pos: 35;
}

.timeline__range:nth-child(1) {
  --pos: 10 / 37;
}

.timeline__event:nth-child(1) {
  --pos: 18 / 31;
}
/* end Sep 30 - Oct 18 */

/* Nov 6 - Nov 15 */
.timeline__date:nth-child(5) {
  --pos: 46;
}

.timeline__date:nth-child(6) {
  --pos: 55;
}

.timeline__range:nth-child(2) {
  --pos: 48 / 57;
}

.timeline__event:nth-child(2) {
  --pos: 48 / 61;
}
/* end Nov 6 - Nov 15 */

/* Dec 7 - Dec 18 */
.timeline__date:nth-child(7) {
  --pos: 81;
}

.timeline__date:nth-child(8) {
  --pos: 92;
}

.timeline__range:nth-child(3) {
  --pos: 83 / 94;
}

.timeline__event:nth-child(3) {
  --pos: 85 / 98;
}
/* end Dec 7 - Dec 18 */

/* Jan 4 - Jan 8 */
.timeline__date:nth-child(9) {
  --pos: 112;
}

.timeline__date:nth-child(10) {
  --pos: 117;
}

.timeline__range:nth-child(4) {
  --pos: 114 / 119;
}

.timeline__event:nth-child(4) {
  --pos: 113 / 126;
}
/* end Jan 4 - Jan 8 */

/* Offers */
.timeline__date:nth-child(11) {
  --pos: 127;
}

.timeline__marker:nth-child(5) {
  --pos: 128 / 128;
}

.timeline__event:nth-child(5) {
  --pos: 128 / 150;
  padding-right: 1.25rem;
  position: relative;
}
/* end Offers */

@media (min-width: 57.5em) {
  .timeline {
    max-width: 100%;
  }

  .timeline__contents {
    display: block;
  }

  .timeline__months {
    display: grid;
    grid-template-columns: 0.25fr repeat(4, 1fr);
  }

  .timeline__months::after {
    grid-column: 1 / -1;
    height: 2px;
    position: initial;
    width: auto;
  }

  .timeline__month {
    height: auto;
    padding-right: 0;
    text-align: left;
  }

  .timeline__month + .timeline__month {
    border-left: 1px solid rgba(var(--color-text-primary-rgb), 0.3);
    padding-left: 0.5rem;
  }

  .timeline__month:last-child::before {
    bottom: initial;
    height: 5.5rem;
    right: 0;
    top: -1rem;
    width: 6.25rem;
    z-index: 0;
  }

  .timeline__date {
    padding-top: 0.75rem;
    padding-left: 0;
  }

  .timeline__date::before {
    left: auto;
    top: var(--offset);
  }

  .timeline__date::after {
    left: var(--offset-inner);
    top: var(--offset-outer);
  }

  .timeline__range {
    border: 1px solid var(--color-text-primary);
    border-top: 0;
    border-radius: 0 0 4px 4px;
    height: calc(var(--g-row) * 2);
    width: auto;
  }

  .timeline__range::after {
    height: calc(var(--g-row) * 2);
    left: initial;
    margin: 0 auto;
    top: calc(var(--g-row) * 2);
    width: 1px;
  }

  .timeline__marker {
    margin-left: 0;
    height: calc(var(--g-row) * 2);
    grid-row: 1;
    width: 1px;
  }

  .timeline__event {
    text-align: center;
  }

  .timeline__event strong {
    margin-top: 0.5rem;
  }

  .timeline__event:nth-child(1) {
    --pos: 15 / 32;
  }

  .timeline__event:nth-child(2) {
    --pos: 42 / 63;
  }

  .timeline__event:nth-child(3) {
    --pos: 74 / 103;
  }

  .timeline__event:nth-child(4) {
    --pos: 104 / 126;
  }

  .timeline__event:nth-child(5) {
    --pos: 128 / 135;
    padding-right: 0;
    text-align: left;
  }

  .timeline__marker:nth-child(5) {
    --pos: 128;
  }

  .timeline__dates,
  .timeline__ranges,
  .timeline__events {
    grid-template-columns: repeat(var(--num-days), 0.667%);
    grid-template-rows: auto;
  }

  .timeline__date,
  .timeline__range,
  .timeline__marker,
  .timeline__event {
    grid-row: initial;
    grid-column: var(--pos);
  }
}
