---
title: ideas42 Venture Studio Careers
---

{% extends "layouts/celena.njk" %}

{% block main %}

  <div class="hero section">
    <div class="container">
      <h1>Content</h1>
    </div>
  </div>
  <div class="section">
    <div class="container">
    Content
  </div>
  </div>
  <div class="section">
    <div class="container">
    Content
  </div>
  </div>
  <div class="section">
    <div class="container">
      <form name="retirement-contact" method="POST" data-netlify="true">
        <p>
          <label>Your Name: <input type="text" name="name"/></label>
        </p>
        <p>
          <label>Your Email: <input type="email" name="email"/></label>
        </p>
        <p>
          <label>Message: <textarea name="message"></textarea>
          </label>
        </p>
        <p>
          <button type="submit">Send</button>
        </p>
      </form>
    </div>
  </div>
{% endblock %}