---
title: Employee Ownership
---

{% extends "layouts/celena.njk" %}

{% block main %}

<div class="hero section retirement">
  <div class="container">
    <h1>Preserve your past, <span class="break"><br /> </span>secure your future.</h1>
    <p>Learn how we help small business owners transition on their own terms.</p>
    <a href="#contact-us" class="btn btn-primary btn-large">Get in Touch</a>
  </div>
</div>
<div class="section">
  <div class="container">
    <h2>Learn how you can...</h2>
    <div class="columns-3 icons">
      <div>
        <div class="icon"><img src="/images/celena/icon-success.svg" /></div>
        <h3>Leave the company on your terms</h3>
        <p>Transition from leadership slowly, or all at once.</p>
      </div>
      <div class="gap"></div>
      <div>
        <div class="icon"><img src="/images/celena/icon-team.svg" /></div>
        <h3>Retain partial ownership</h3>
        <p>Sell the company in whole or in part for immediate liquidity.</p>
      </div>
      <div class="gap"></div>
      <div>
        <div class="icon"><img src="/images/celena/icon-sale.svg" /></div>
        <h3>Close the sale - Guaranteed</h3>
        <p>You already have an interested buyer for your company.</p>
      </div>
    </div>
  </div>
</div>
<div class="section blue">
  <div class="container">
    <h2>Explore the Benefits of Employee Ownership<span class="for"> for the...</span></h2>
    <ul class="tabs">
			<li class="active"><a href="#tab-owner"><span class="for">For the </span>Owner</a></li>
			<li class=""><a href="#tab-company"><span class="for">For the </span>Company</a></li>
			<li class=""><a href="#tab-employees"><span class="for">For the </span>Employees</a></li>
		</ul>
    <div class="tab-content">
      <div id="tab-owner" class="tab-pane active">
        <p class="bullets-intro">With Employee Ownership you have...</p>
        <div class="columns-2">
          <div>
            <ul class="benefits">
              <li><span><strong>Flexibility</strong> in defining the terms of your exit, including a full or partial sale.</span></li>
              <li><span><strong>Liquidity and fair market value</strong> for your business.</span></li>
              <li><span><strong>Tax benefits</strong> for yourself and the company.</span></li>
            </ul>
          </div>
          <div class="gap"></div>
          <div>
            <ul class="benefits">
              <li><span><strong>Control</strong> of the transition.</span></li>
              <li><span><strong>Assurance</strong> that your employees will be retained and rewarded.</span></li>
              <li><span>Confidence that your legacy will be <strong>preserved</strong> and carried on by your employees.</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="tab-company" class="tab-pane">
        <p class="bullets-intro">With Employee Ownership, companies have...</p>
        <div class="columns-2">
          <div>
            <ul class="benefits">
              <li><span>Long term <strong>tax benefits</strong>.</span></li>
              <li><span><strong>Gains</strong> in performance, job retention and productivity.</span></li>
              <li><span><strong>Continuity</strong> and a smooth transition.</span></li>
            </ul>
          </div>
          <div class="gap"></div>
          <div>
            <ul class="benefits">
              <li><span><strong>Employee engagement</strong> and skin-in-the-game.</span></li>
              <li><span><strong>Retirement benefits</strong> for rank-and-file employees.</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="tab-employees" class="tab-pane">
        <p class="bullets-intro">With Employee Ownership, employees can have...</p>
        <div class="columns-2">
          <div>
            <ul class="benefits">
              <li><span><strong>Retirement benefits.</strong></span></li>
              <li><span><strong>Opportunities</strong> for profit sharing and wealth creation.</span></li>
              <li><span><strong>Equity</strong> in the company, a true rising tide that lifts all boats.</span></li>
            </ul>
          </div>
          <div class="gap"></div>
          <div>
            <ul class="benefits">
              <li><span><strong>A voice and a vote</strong> in key decisions of the company.</span></li>
              <li><span><strong>Job security</strong> and company stability.</span></li>
              <li><span><strong>A smooth transition</strong> and leadership succession plan.</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h2>How it works</h2>
    <div class="columns-4">
      <div class="how-it-works">
        <h3><small>1</small>Find the Right Plan</h3>
        <p>We'll match you and your company with the best employee ownership structure for you and your industry.</p>
      </div>
      <div class="gap"></div>
      <div class="how-it-works">
        <h3><small>2</small>Valuation and In-house Financing</h3>
        <p>We'll conduct a valuation of your business. We have our own fund and can underwrite and close financing quickly.</p>
      </div>
      <div class="gap"></div>
      <div class="how-it-works">
        <h3><small>3</small>Transition to Employee Owners</h3>
        <p>Our managers support your team in setting up your employee ownership structures.</p>
      </div>
      <div class="gap"></div>
      <div class="how-it-works">
        <h3><small>4</small>Management & Administration</h3>
        <p>Our team and tools provide easy administration, maintenance and compliance.</p>
      </div>
    </div>
  </div>
</div>
<div class="section gray" id="contact-us">
  {% include 'components/contact-form.njk' %}
</div>
<footer>
  <div class="container">
    <p>A business powered by</p><img src="/images/celena/i42ventures-logo.svg" alt="ideas42 Ventures Logo"/></p>
  </div>
</footer>
{% endblock %}
