---
title: ideas42 Venture Studio Careers
---

{% extends "layouts/base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero standard-restricted-width">
    <div class="g-max-4">
      <p class="hero__tag">Careers</p>
      <h1 class="hero__title">
        Join our team
      </h1>
      <p class="hero__body">
        Are you looking to have an impact on the lives of millions, while
        helping talented, diverse entrepreneurs design their businesses from day
        one? Do you dream of building products that have a positive impact on a
        global scale? At the ideas42 Venture Studio, we build impact businesses
        that solve massive social challenges, and we are looking for talented
        individuals to join our team.
      </p>
    </div>
  </div>
{% endblock %}

{% block main %}

<div class="standard-restricted-width">
  <div class="g-centered font-size-3">
    {% headingAnchor "2", "Open Positions" %}
    {% if openPositions|length %}
        <ul class="careers__job-list">
          {% for position in openPositions %}
            <li class="careers__job">
              <a class="card careers__card" href="{{ position.url }}" target="_blank" rel="noopener">
                <span class="careers__title" >{{ position.title }}</span>
                <p class="careers__type">{{ position.type }}</p>
                <p class="careers__location">{{ position.location }}</p>
              </a>
            </li>
          {% endfor %}
        </ul>
    {% else %}
      <div class="careers__empty">
        We don't currently have any positions open. If you're interested in working with us, send us an email at <a href="mailto:contact@ideas42ventures.com">contact@ideas42ventures.com</a>.
      </div>
    {% endif %}
  </div>
</div>


<div class="standard-restricted-width g-section-vertical">
  <div class="g-centered font-size-3">
    {% headingAnchor "2", "Benefits" %}
    <div class="two-col-text">
      <div class="two-col-text__contain">
        <img src="/images/graphic-compensation.svg" alt="" class="careers__icon">
        <h3 class="careers__subheader">Compensation</h3>
        <p>
          Competitive, transparent salaries based on the GitLab compensation
          calculator + participation in a profit sharing plan (blog post to come
          on how this works. We have prioritized equity and transparency, but in
          service of those two goals, had to sacrifice simplicity).
        </p>
      </div>
      <div class="two-col-text__contain">
        <img src="/images/graphic-vacation.svg" alt="" class="careers__icon">
        <h3 class="careers__subheader">Holidays and Vacation</h3>
        <p>
          As a company we believe in the value and importance of time away from
          work. We take off together all US Federal Holidays + Juneteenth + the
          week between Christmas and New Years. We also have an unlimited PTO
          policy, and we work hard to make sure each member of our team takes the
          time they need to recharge regularly.
        </p>
      </div>
      <div class="two-col-text__contain">
        <img src="/images/graphic-401k.svg" alt="" class="careers__icon">
        <h3 class="careers__subheader">401k</h3>
        <p>
          We offer a 401k plan, and contribute 3% of your salary regardless of
          your contribution level.
        </p>
      </div>
      <div class="two-col-text__contain">
        <img src="/images/graphic-health.svg" alt="" class="careers__icon">
        <h3 class="careers__subheader">Healthcare</h3>
        <p>
          All health and dental costs covered, with multiple plan options
          available, including a high deductible and a low deductible plan, with
          an employer funded HSA for the high deductible plan.
        </p>
      </div>
      <div class="two-col-text__contain">
        <img src="/images/graphic-parent.svg" alt="" class="careers__icon">
        <h3 class="careers__subheader">Parental Leave</h3>
        <p>          We currently offer 16 weeks of parental leave. But perhaps more
          importantly we work with each of our parents, and all of our team
          members, to make sure that they have a work schedule that allows them to
          be present at the times that matter for them and their family.
        </p>
      </div>
      <div class="two-col-text__contain">
        <img src="/images/graphic-other.svg" alt="" class="careers__icon">
        <h3 class="careers__subheader">More</h3>
        <p>
          We operate as a remote first company, and provide a monthly stipend for
          your phone and Internet services, as well as funding to properly
          configure your home office, or cover the cost of a desk at a coworking
          space if you prefer that.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
