<h3 class="topic__title"><a href="#components-masthead">Masthead</a></h3>
<div class="demo">
  <div class="masthead">
    {% include "components/banner.njk" %}
    <div class="hero standard-restricted-width">
      <p class="hero__tag">Hero Tag</p>
      <h1 class="hero__title g-max-3">The Hero Title</h1>
      <p class="hero__body g-max-3">
        We’ve partnered with Wells Fargo to recruit entrepreneurs to push for social 
        change in financial health. We’re looking for people that know if given the 
        time, the money, and the audience, they can channel their lived experiences, 
        ideas, and talents into positive impact.
      </p>
    </div>
  </div>
</div>