---
title: ideas42 Venture Studio 404 page 
---
{% extends "layouts/base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero standard-restricted-width">
    <h1 class="hero__title">
      Not Found
    </h1>
    <p class="hero__body">
      We couldn’t find a page at {{page.url}}.
    </p>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About Us</a>
      </li>
      <li>
        <a href="/ventures-for-shared-prosperity">Ventures for Shared Prosperity</a>
      </li>
    </ul>
  </div>
{% endblock %}