---
title: Apply to be an Entrepreneur in the ideas42 Venture Studio
noApplyCta: true
---

{% extends "base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero standard-restricted-width">
    <p class="hero__tag">You belong here</p>
    <h1 class="hero__title g-max-3-half">Apply to join the Studio for Shared Prosperity</h1>
    <p class="hero__body hero__body--first-lined g-max-3-half">
      We’ve partnered with Wells Fargo to recruit entrepreneurs to push for social 
      change in financial health. We’re looking for people that know if given the 
      time, the money, and the audience, they can channel their lived experiences, 
      ideas, and talents into positive impact.
    </p>
  </div>
  <img class="masthead__graphic" src="/images/masthead-graphic-triangle.svg" alt="" />
{% endblock %}

{% block main %}
  <div class="standard-restricted-width">
    <header class="content-block__intro apply-process-intro g-max-3" id="the-application-process">
      <h2>
        <a class="header-anchor" href="#the-application-process" aria-hidden="true">#</a>
        The application process
      </h2>
      <p>
        Our process is set up to give you the opportunity to show and tell us 
        the impacts you want to make. It’s an opportunity for you to express 
        yourself in the ways you’re most comfortable.
      </p>
    </header>

    <div class="apply__timeline" id="application-timeline">
      <h3>
        <a class="header-anchor" href="#application-timeline" aria-hidden="true">#</a>
        Timeline
      </h3>
      <div class="timeline">
        <div class="timeline__months">
          <time datetime="2020-08" class="timeline__month">Aug. 2020</time>
          <time datetime="2020-09" class="timeline__month">Sep.</time>
          <time datetime="2020-10" class="timeline__month">Oct.</time>
          <time datetime="2020-11" class="timeline__month">Nov.</time>
          <time datetime="2020-12" class="timeline__month"><strong>Dec. 2020</strong></time>
        </div>
        <div class="timeline__dates">
          <time datetime="2020-08-17" class="timeline__date">17th</time>
          <time datetime="2020-08-26" class="timeline__date">26th</time>
          <time datetime="2020-09-13" class="timeline__date">13th</time>
          <time datetime="2020-09-25" class="timeline__date">25th</time>
          <time datetime="2020-10-04" class="timeline__date">4th</time>
          <time datetime="2020-10-26" class="timeline__date">26th</time>
          <time datetime="2020-11-02" class="timeline__date">2nd</time>
          <time datetime="2020-11-16" class="timeline__date">16th</time>
        </div>
        <div class="timeline__events">
          <time datetime="PD27" class="timeline__event">
            <h4>Applications</h4>
            <p>Aug. 17th - Sep. 13th</p>
          </time>

          <time datetime="2020-08-26" class="timeline__event">
            <h4>Zoom Intro Session</h4>
            <p>Aug. 26th</p>
          </time>

          <time datetime="PD10" class="timeline__event">
            <h4>Case Studies</h4>
            <p>Sep. 25th - Oct. 4th</p>
          </time>

          <time datetime="PD7" class="timeline__event">
            <h4>Interviews</h4>
            <p>Oct. 26th - Nov. 2nd</p>
          </time>

          <time datetime="2020-12-16" class="timeline__event">
            <h4>Follow-ups</h4>
            <p>Nov. 16th - Dec.</p>
          </time>

          <time datetime="2020-12" class="timeline__event">
            <h4>Offers</h4>
            <p>
              Early Dec. We don’t have an exact date for when we’ll send offers. 
              It will be dependant on the previous phases.
            </p>
          </time>
        </div>
      </div>
    </div>

    <div class="apply__phases" id="application-phases">
      <h3>
        <a class="header-anchor" href="#application-phases" aria-hidden="true">#</a>
        Phases
      </h3>
      <ol>
        <li>
          <h4>Applications</h4>
          <time>Aug. 17 - Sep. 13th</time>
          <p>
            This is the phase where we accept candidate applications. This is a 
            short description of what to expect. And, we can give them a link to the application.
          </p>
        </li>
        <li>
          <h4>Case Studies</h4>
          <time>Sep. 25 - Oct. 4th</time>
          <p>
            This is the phase where we accept candidate applications. This is a 
            short description of what to expect. And, we can give them a link to the application.
          </p>
        </li>
        <li>
          <h4>Interviews</h4>
          <time>Oct. 26th - Nov. 2nd</time>
          <p>
            This is the phase where we accept candidate applications. This is a 
            short description of what to expect. And, we can give them a link to the application.
          </p>
        </li>
        <li>
          <h4>Follow-up Interviews</h4>
          <time>Week of Nov. 16th</time>
          <p>
            This is the phase where we accept candidate applications. This is a 
            short description of what to expect. And, we can give them a link to the application.
          </p>
        </li>
        <li>
          <h4>Offers</h4>
          <time>Early Dec.</time>
          <p>
            This is the phase where we accept candidate applications. This is a 
            short description of what to expect. And, we can give them a link to the application.
          </p>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}
