---
title: Apply to be an Entrepreneur in the ideas42 Venture Studio
layout: default.njk
---

<div class="hero standard-restricted-width">
  <h1>Apply to Join the Venture Studio for Shared Prosperity</h1>
  <p>
    We’ve partnered with Wells Fargo to recruit entrepreneurs to push for social 
    change in financial health. We’re looking for people that know if given the 
    time, the money, and the audience, they can channel their lived experiences, 
    ideas, and talents into positive impact.
  </p>
</div>
