---
title: Apply to be an Entrepreneur in the ideas42 Venture Studio
noApplyCta: true
---

{% extends "base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero standard-restricted-width">
    <p class="hero__tag">You Belong Here</p>
    <h1 class="hero__title g-max-3-half">Apply to Join the Venture Studio for Shared Prosperity</h1>
    <p class="hero__body hero__body--first-lined g-max-3-half">
      We’ve partnered with Wells Fargo to recruit entrepreneurs to push for social 
      change in financial health. We’re looking for people that know if given the 
      time, the money, and the audience, they can channel their lived experiences, 
      ideas, and talents into positive impact.
    </p>
  </div>
  <img class="masthead__graphic" src="/images/masthead-graphic-triangle.svg" alt="" />
{% endblock %}

{% block main %}
  <div class="standard-restricted-width">
    <header class="content-block__intro apply-process-intro">
      <h2>The Application Process</h2>
      <p class="apply__details">
        <b>Format:</b> Essay, video response, 1:1 video interviews • <b>Duration:</b> 3-4 weeks
      </p>
      <p>
        Our process is set up to give you the opportunity to show and tell us the 
        impacts you want to make. It’s an opportunity for you to express yourself in 
        the ways you’re most comfortable.
      </p>
    </header>

    <ol class="apply__steps">
      <li>
        <h3>Meet</h3>
        <p class="apply__details">
          <b>Format:</b> Zoom/Video • <b>Duration:</b> 25 min
        </p>
        <p>
          In this section we’ll describe the pre-session Zoom and/or video. If 
          available, we’ll also provide a link to the video here and a way for 
          candidates to ask questions.
        </p>
      </li>
      <li>
        <h3>Tell</h3>
        <p class="apply__details">
          <b>Format:</b> Essay questionnaire • <b>Duration:</b> 1-2 hrs
        </p>
        <p>
          In this section we’ll describe the standard application questions. We’ll 
          let the candidate know that it’s an online questionairre, roughly how long 
          it should take, and what we’ll glean from their responses.
        </p>
      </li>
      <li>
        <h3>Show</h3>
        <p class="apply__details">
          <b>Format:</b> Take-home pitch • <b>Duration:</b> ~2 hrs
        </p>
        <p>
          In this section we’ll describe the take-home pitch project. We’ll let the 
          candidate know the format and expected level of time and effort and what 
          we’ll glean from their responses.
        </p>
      </li>
      <li>
        <h3>Know</h3>
        <p class="apply__details">
          <b>Format:</b> 1:1 interviews • <b>Duration:</b> 3-4 hrs
        </p>
        <p>
          In this section we’ll describe the interview portion of the process. We’ll 
          let the candidate know the format, the types of people they’ll talk with, 
          and what types of questions we’ll ask.
        </p>
      </li>
    </ol>
  </div>
{% endblock %}
