---
title: About the ideas42 Venture Studio
---

{% extends "base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero standard-restricted-width">
    <div class="g-max-3 g-right">
      <p class="hero__tag">Join the team</p>
      <h1 class="hero__title">
        Venture studio careers
      </h1>
      <p class="hero__body hero__body--first-lined">
        We’re a tiny team trying to make big impact. We hire core team members
        infrequently, but always interested in meeting new folks interested
        in being a part of what we’re doing.
      </p>
    </div>
  </div>
  <img class="masthead__graphic masthead__graphic--left" src="/images/masthead-graphic-cube.svg" alt="" />
{% endblock %}

{% block main %}
<div class="standard-restricted-width">
  <header class="content-block__intro">
    <h2>Current Openings</h2>
    <p>
      Working on content here.
    </p>
  </header>
</div>
{% endblock %}
