{% extends "layouts/base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero standard-restricted-width">
    <div class="g-max-3 g-right">
      <h1 class="hero__title">
        Frequently asked questions
      </h1>
      <p class="hero__body hero__body--first-lined">
        I'm not sure what the full capabilities of .njk are. But, it looks like I'm doing something. Is that alright?
      </p>
    </div>
  </div>
  <img class="masthead__graphic masthead__graphic--left" src="/images/masthead-graphic-cube.svg" alt=""/>
{% endblock %}