{% extends "layouts/base.njk" %}

{% block masthead %}
  {{ super() }}
 <div class="hero standard-restricted-width">
    <h1 class="hero__title g-max-3">
      We build companies that solve massive social challenges
    </h1>
    <p class="hero__body hero__body--home g-max-3">
     We do that by recruiting motivated individuals and surrounding 
     them with design, technology, business building and behavioral science experts.
    </p>
  </div>
  <img class="masthead__graphic" src="/images/masthead-graphic-home.svg" alt="" width="650" />
{% endblock %}

{% block main %}
<div class="standard-restricted-width g-section-vertical">
  <header class="g-max-4">
    <h2>Our model</h2>
    <p class="font-size-3">
      We recruit talented individuals from diverse backgrounds, with direct, 
      lived experiences in our <a href="https://ideas42ventures.netlify.app/ventures-for-shared-prosperity/focus-area/">focus areas</a>,
      and we work directly 
      alongside them for 18 months in an intense research, behavioral design, prototype, 
      sell, pilot deployment, and fundraising process. At the end of 18 months, we expect 
      each of our entrepreneurs to have a product in-market <b>making a difference in the world</b>, 
      with capital to continue to grow far beyond the Venture Studio.
    </p>
  </header>

  <ul class="model__timeline">
    <li class="model__segment">
      <div class="card">
        <h3 class="segment__title">Months 1-6</h3>
        <p>
          <strong>Opportunity identification</strong> 
          Market evaluation and prototype development.
        </p>
      </div>
    </li>
    <li class="model__segment">
      <div class="card">
        <h3 class="segment__title">Months 7-12</h3>
        <p>
          <strong>Sell pilots</strong> 
          Market validation (and product iteration) through pilot sales.
        </p>
      </div>
    </li>
    <li class="model__segment">
      <div class="card">
        <h3 class="segment__title">Months 13-18</h3>
        <p>
          <strong>Go to market + raise capital</strong> 
          Deliver pilots and raise external capital to grow the business.
        </p>
      </div>
    </li>
  </ul>

</div>

<div class="standard-restricted-width g-section-vertical">
  <header>
    <h2>How we evaluate business opportunities</h2>
    <p class="font-size-3 g-max-4">
      We work with our entrepreneurs iteratively through a research, design, 
      prototype, sell, pilot deployment, and fundraising process, roughly chunked 
      in three, six month long periods. We apply a behavioral science lens to collaboratively 
      identify business opportunities (we don't expect our entrepreneurs to join 
      the studio with a specific business idea), and focus on enterprise, value-based 
      Software as a Service as our vehicle to scale our impact.  When evaluating opportunities 
      <b>we ask, is there…</b>
    </p>
  </header>

  <ul class="font-size-3 evaluate__questions">
    <li class="evaluate_q">  
      <img src="/images/evaluate-q-1.svg" width="136" height="137" alt="" />
      An existing <strong>intention → action gap</strong>?
      <small class="font-size-0">
        (e.g. where an individual plans to do or not do something, but fails to 
        follow through on their intention)
      </small>
    </li>
    <li class="evaluate_q">
      <img src="/images/evaluate-q-1.svg" width="136" height="137" alt="" />
      An <strong>enterprise</strong> who benefits from closing that 
      intention → action gap?
    </li>
    <li class="evaluate_q">
      <img src="/images/evaluate-q-1.svg" width="136" height="137" alt="" />
      A <strong>data powered intervention</strong> that helps the individual 
      follow through on their intention?
    </li>
  </ul>

  <p class="font-size-2 g-max-2-half">
    Pursuing opportunities with these three characteristics ensures we are actually 
    helping people achieve their desired goals, and allows us to make value based sales 
    to existing enterprises, while building technology to deliver that value, 
    powered by data, and informed by behavioral science. This makes our businesses 
    scalable, impactful and defensible.
  </p>
</div>

<div class="standard-restricted-width g-section-vertical portfolio">
  <header class="g-max-2">
    <h2>Our portfolio</h2>
    <p class="font-size-3">
      Companies we’re working with today.
    </p>
  </header>

  <ul class="portfolio__list g-max-3">
    <li>
      <a class="portfolio__org card" href="https://everydaylabs.com/" target="_blank" rel="noopener">
        <img src="/images/portfolio-logo-everyday-labs.png" alt="EveryDay Labs" width="250" height="95"/>
        Working with school districts to reduce K-12 chronic absenteeism.
      </a>
    </li>
    <li>
      <a class="portfolio__org card" href="https://asknickels.com/" target="_blank" rel="noopener">
        <img src="/images/portfolio-logo-nickels.svg" alt="Nickels" width="250" height="95" />
        Helping borrowers manage their student debt and avoid default.
      </a>
    </li>
    <li>
      <a class="portfolio__org card" href="https://www.vergil.app/" target="_blank" rel="noopener">
        <img src="/images/portfolio-logo-vergil.svg" alt="Vergil" width="250" height="95" />
        Working with state and local governments to reduce recidivism.
      </a>
    </li>
    <li>
      <a class="portfolio__org card" href="/ventures-for-shared-prosperity">
        <img src="/images/portfolio-logo-business-co.svg" alt="Your Co." width="250" height="95" />
        <b>We’re looking for entrepreneurs to build their companies with us.</b>
      </a>
    </li>
  </ul>
  <img class="portfolio__graphic" src="/images/graphic-tri-circle.svg" alt="" width="810" />
</div>
{% endblock %}
