{% extends "base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero hero--home standard-restricted-width">
    <h1 class="hero__title">We Help Build Companies to Solve Massive Social Challenges</h1>
    <p class="hero__body">
      We do this by recruiting entrepreneurs, surrounding them with design,
      technology, and behavioral science talent, and connecting them to enterprises
      with meaningful problems.
    </p>
  </div>
  <img class="masthead__graphic" src="/images/masthead-graphic-home.svg" alt="" />
{% endblock %}

{% block main %}
<div class="standard-restricted-width home-model">
  <header class="content-block__intro">
    <h2>Our Model</h2>
    <p>
      We operate a 22-month cohort model, with 4-6 entrepreneurs per cohort. During
      the first 4 months we recruit entrepreneurs. For 18 months, we work alongside
      those entrepreneurs during an intense research, design, prototype, sell, pilot
      deployment, and fundraising process.
    </p>
    <p>
      At the end of the process, we expect every one of our entrepreneurs to have a
      company they will continue to nurture and grow far beyond the Venture Studio.
    </p>
  </header>
</div>

<div class="standard-restricted-width">
  <header class="content-block__intro">
    <h2>What We Provide</h2>
    <p>
      We won’t have all the answers and we won’t have it all figured out when you
      join us. But we know there are requirements to building thriving technology
      businesses. Those are the foundation of what we provide.
    </p>
  </header>

  <ul class="home-benefits">
    <li>
      <h3>Compensation</h3>
      <p>
        We pay a $75k annual salary and provide health benefits
        so you can focus on the work.
      </p>
    </li>
    <li>
      <h3>Expertise</h3>
      <p>
        We surround you with a team of seasoned experts so you can build
        world-class digital products.
      </p>
    </li>
    <li>
      <h3>Energy</h3>
      <p>
        We lift you up with encouragement, feedback, and kindness so you can bring
        your best self to the process.
      </p>
    </li>
  </ul>
</div>

<div class="standard-restricted-width">
  <header class="content-block__intro">
    <h2>Our Portfolio</h2>
    <p>
      Companies we’re working with today.
    </p>
  </header>

  <ul class="home-portfolio">
    <li>
      <a href="https://everydaylabs.com/" target="_blank" rel="noopener"
        ><img src="" alt="EveryDay Labs logomark"
      /></a>
      <p>
        Working with school districts to reduce K-12 chronic absenteeism.
      </p>
    </li>
    <li>
      <a href="https://asknickels.com/" target="_blank" rel="noopener"
        ><img src="" alt="Nickels logomark"
      /></a>
      <p>
        Helping borrowers manage their student debt and avoid default.
      </p>
    </li>
    <li>
      <a href="https://www.vergil.app/" target="_blank" rel="noopener"
        ><img src="" alt="Vergil logomark"
      /></a>
      <p>
        Working with state and local governments to reduce recidivism.
      </p>
    </li>
    <li>
      <a href="/apply"><img src="" alt="Your Co. mock logomark" /></a>
      <p>
        We’re looking for entrepreneurs to build their companies with us.
      </p>
    </li>
    <li>
      <a href="/apply"><img src="" alt="Your Co. mock logomark" /></a>
      <p>
        We’re looking for entrepreneurs to build their companies with us.
      </p>
    </li>
  </ul>
</div>
{% endblock %}
