---
title: The ideas42 Venture Studio Model
---

{% extends "base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero standard-restricted-width">
    <div class="g-max-3 g-right">
      <p class="hero__tag">How this works</p>
      <h1 class="hero__title">
        Our approach to building impactful businesses
      </h1>
      <p class="hero__body hero__body--first-lined">
        This intro needs to be written. This is placeholder. The Studio is made up 
        of entrepreneurs, core members, contributors from 
        ideas42, board members, and advisors. Our goal with this team makeup is to 
        give our entrepreneurs access to the widest range of experiences and 
        expertise as possible.
      </p>
    </div>
  </div>
  <img class="masthead__graphic masthead__graphic--left masthead__graphic--collage" 
    src="/images/masthead-graphic-collage.svg" alt="" />
{% endblock %}

{% block main %}
<div class="standard-restricted-width">
  <header class="content-block__intro">
    <p>
      Working on content here.
    </p>
  </header>
</div>
{% endblock %}
