{% extends "layouts/base.njk" %}

{% block masthead %}
  {{ super() }}
  <div class="hero standard-restricted-width">
    <h1 class="hero__title">
      Subscribed
    </h1>
    <p class="hero__body">
      Thanks for signing up. <a href="/">Go home</a>
    </p>
  </div>
{% endblock %}