---
title: ideas42 Venture Studio
---

<!doctype html>
<html lang="en">

<head>
  {% include "layout-meta.njk" %}

  <title>
    {{ title }}
  </title>

  {% include "layout-styles.njk" %}
</head>

<body>
  {% include "banner.njk" %}
  {{ content | safe }}
</body>

</html>