---
title: ideas42 Venture Studio
---

<!doctype html>
<html lang="en">

<head>
  {{> layout-meta }}

  <title>
    {{ title }}
  </title>

  {{> layout-styles }}

</head>

<body>
  <a href="/">ideas42 Venture Studio</a> <a href="/apply">Apply</a>
  {{{ content }}}
</body>

</html>