---
title: ideas42 Venture Studio Design Patterns
---

<!doctype html>
<html lang="en">

<head>
  {{> layout-meta }}

  <title>
    {{ title }}
  </title>

</head>

<body>
  <a href="/">ideas42 Venture Studio</a>
  {{{ content }}}
</body>

</html>