---
title: ideas42 Venture Studio Design Patterns
---

<!doctype html>
<html lang="en">

<head>
  {% include "layout-meta.njk" %}

  <title>
    {{ title }}
  </title>

  {% include "layout-styles.njk" %}
</head>

<body>
  <a href="/">ideas42 Venture Studio</a>
  {{ content | safe }}
</body>

</html>