<div class="apply-cta">
  <div class="apply-cta__contents g-max-4-half">
    <header class="content-block__intro">
      <h2>Interested?</h2>
      <p class="apply__details"><b>Call for entrepreneurs:</b> Aug 1, 2020 - Sept 4, 2020</p>
      <p>
        We’ve partnered with Wells Fargo for our first cohort; The Venture 
        Studio for Shared Prosperity. During this cohort we’ll build companies 
        dedicated to improving financial health.
      </p>
    </header>
    <div class="apply-cta__action">
      <a href="/apply" class="btn apply-cta__btn">Apply</a>
      <p>
        Even if you’re not 100% sure yet, we want to hear from you.
      </p>
    </div>
  </div>
</div>