<div class="apply-cta">
  <div class="apply-cta__contents g-max-4-half">
    <header class="content-block__intro">
      <h2>Interested?</h2>
      <h3>Accepting applications: Aug 17, 2020 - Sept 13, 2020</h3>
      <p>
        We’ve partnered with Wells Fargo for our first cohort; The Venture 
        Studio for Shared Prosperity. During this cohort we’ll build companies 
        dedicated to improving financial health.
      </p>
    </header>
    <div class="apply-cta__action">
      <a href="/apply" class="btn apply-cta__btn">Apply</a>
    </div>
  </div>
</div>