<div class="apply-cta">
  <div class="apply-cta__contents standard-restricted-width">
    <header class="content-block__intro g-max-3">
      <h2>Interested?</h2>
      <h3>Accepting applications: Aug 17, 2020 - Sept 13, 2020</h3>
      <p>
        With support from Wells Fargo, we’re recruiting entrepreneurs for our
        first cohort to build businesses that address the excess costs of poverty.
      </p>
    </header>
    <div class="apply-cta__action">
      <a href="/apply" class="btn apply-cta__btn">Apply</a>
    </div>
  </div>
</div>