body {
  background-color: white;
  color: var(--color-text-primary);
  font-family: var(--font-sans);
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

main {
  padding-bottom: calc(var(--g-row) * 8);
}

a {
  color: var(--color-accent-active);
}

input {
  font-family: var(--font-sans);
}

::selection {
  background-color: var(--color-accent-secondary);
  color: white;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: calc(var(--g-row) * 5);
}

.figure--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-size: var(--font-size-1);
  margin-top: var(--g-row);
}

.card {
  background-color: white;
  border: 1px solid var(--color-text-light);
  border-radius: 6px;
  box-shadow: var(--shadow-card);
}

.card__intro {
  padding: calc(var(--g-row) * 2) calc(var(--g-gutter-width) * 2) var(--g-row)
    calc(var(--g-gutter-width) * 2);
  text-align: center;
}

.card__title {
  color: var(--color-accent-secondary);
  display: block;
  font-size: var(--font-size-4);
}

.card__body {
  padding: 0 calc(var(--g-gutter-width) * 2);
  padding-bottom: calc(var(--g-row) * 2);
}

.card__body--bordered {
  border-top: 1px solid rgba(var(--color-not-quite-white-rgb), 0.8);
  padding-top: 1rem;
}

.card__body ul,
.card__body ol {
  margin: 0;
  margin-left: var(--g-gutter-width);
  padding: 0;
}

.card__body li {
  padding-bottom: calc(var(--g-row) * 1.5);
}

.hidden {
  display: none;
  visibility: hidden;
}
