body {
  background-color: white;
  color: var(--color-text-primary);
  font-family: var(--font-sans);
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

main {
  padding-bottom: calc(var(--g-row) * 4);
}

a {
  color: var(--color-accent-active);
}

input {
  font-family: var(--font-sans);
}

.content-block__intro {
  font-size: var(--font-size-4);
}

::selection {
  background-color: var(--color-accent-secondary);
  color: white;
}
