body {
  background-color: white;
  color: var(--color-text-primary);
  font-family: var(--font-body);
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--color-accent-active);
}

.standard-restricted-width {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--g-max-width);
  padding-left: var(--g-gutter-width);
  padding-right: var(--g-gutter-width);
}

.content-block__intro {
  font-size: var(--font-size-4);
  line-height: 1.75;
}

.content-block__intro p:first-of-type:not([class]) {
  margin-top: 1.25rem;
}
